main#historia-main {
    padding: 50px 179px 113px 176px;
    display: flex;
    flex-flow: column;
}

main#historia-main
div#breadcrumb {
    display: flex;
}

main#historia-main
div#breadcrumb
div.historia-breadcrumb-item:not(:first-child) {
    margin-left: 14px;
}

main#historia-main
div#breadcrumb
div.historia-breadcrumb-item
a.breadcrumb-item-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #000000;
}

main#historia-main
div#breadcrumb
div.historia-breadcrumb-item
img.breadcrumb-item-arrow {
    margin-left: 14px;
    width: 20px;
}

main#historia-main
div#title {
    display: flex;
    justify-content: space-between;
    margin-top: 38px;
    margin-bottom: 0px;
}

main#historia-main
div#title
h1#title-text {
    font-weight: 400;
    max-width: 620px;
    font-size: 38px;
}

a.historia-link {
    color: #E03C31;
    cursor: pointer;
}

.card-info-related-container {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}

img#card-info-related-share {
    margin-top: 28px;
}

.card-info-relateds {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.card-info-related {
    border: 1px solid #E03C31;
    border-radius: 14px;
    font-size: 15px;
    color: #E03C31;
    font-weight: 700;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-info-related:not(:first-child) {
    margin-left: 6px;
}

main#historia-main
div#news-container {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

main#historia-main
div#news-container
p#news-date {
    margin-top: 50px;
    margin-bottom: 0px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
}

main#historia-main
div#news-container
ul#benefits-list{
    margin-top: 50px;
    margin-bottom: 0px;
}

main#historia-main
div#news-container
ul#benefits-list
li.benefits-list-item {
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: #000000;
}

main#historia-main
div#news-container
p.news-info {
    width: 665px;
    margin-top: 50px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 0px;
}


main#historia-main
div#news-container
h2.title-subtitle {
    margin-top: 50px;
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 28px;
    line-height: 30px;
    color: #000000;
}

main#historia-main
div#news-container
h2.text-subtitle-little {
    width: 600px;
}

main#historia-main
div#news-container
img.news-container-image {
    margin-top: 50px;
}

main#historia-main
div#news-container
button.news-info-button {
    margin-top: 50px;
    font-size: 16px;
    line-height: 22px;
    color: #E03C31;
    background-color: white;
    border: 1px solid #E03C31;
    padding: 15px;
    border-radius: 10px;
    font-weight: 700;
}


main#historia-main
div#news-container
h2.title-subtitle {
    margin-top: 50px;
    font-weight: 500;
    font-size: 28px;
    line-height: 30px;
    color: #000000;
    width: 516px;
}

main#historia-main
div#news-container
ul.news-info-list {
    margin-top: 50px;
}

main#historia-main
div#news-container
ul.news-info-list
li.news-info-list-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    color: #000000;
}

main#historia-main
div#news-container
ul.news-info-list
li.news-info-list-item--little {
    width: 650px;
}

main#historia-main
div#news-container
ul.style-none {
    list-style: none;
}

a.sintomas-link {
    color: #E03C31;
    cursor: pointer;
}

p.news-info-with-max-width {
    width: 540px !important;
}

span.news-info-bold {
    font-weight: 500;
}