main#historia-main {
    padding: 3.125rem 11.188rem 7.063rem 11rem;
    display: flex;
    flex-flow: column;
}

a.sintomas-link {
    color: #E03C31;
    cursor: pointer;
}

p.news-info-with-max-width {
    width: 33.75rem !important;
}

span.news-info-bold {
    font-weight: 500;
}

div.video-container {
    position: relative;
}

div.video-container
img.play {
    position: absolute;
    left: 250px;
    width: unset !important;    
    height: 200px;
}

div.video-container
img.play--to-left {
    left: 220px;
}


div.video-container
img.historia {
    border: 2px solid #FEE9AE;
}

img.historia-img {
    height: 300px;
    object-fit: contain;
}



.link-container {
    text-decoration: none;
}

.info-video {
    margin-left: 10px;
    width: 300px !important;
}

img.historia-img {
    height: 300px;
    object-fit: contain;
}

@media(max-width: 1199px) {
    img.historia-img {
        height: unset;
    }
}

@media(min-width: 992px) and (max-width: 1199px) {
    img.historia-img {
        height: 300px;
    }
}


/* md - tablet */
@media (min-width: 577px) and (max-width: 1199px) {

    main#historia-main {
        padding: 0.938rem 0.625rem 7.813rem 1.25rem;
    }

    p.news-info-with-max-width {
        width: unset;
    }

    div.video-container
    img.play {
        position: absolute;
        left: 41%;
        width: unset !important;
        height: 80px;
    }

    div.video-container
    img.play--to-left {
        left: 41%;
    }

    .info-video {
        margin-left: 0px;
        width: 300px;
    }
 }

/* col - mobile */
@media(max-width: 576px) {
    main#historia-main {
        padding: 0.938rem 0.625rem 7.813rem 1.25rem;
    }

    p.news-info-with-max-width {
        width: unset;
    }

    div.video-container
    img.play {
        position: absolute;
        left: 41%;
        width: unset !important;
        height: 80px;
    }

    .info-video {
        margin-left: 0px;
        width: unset !important;
    }
 }

 @media(max-width: 360px) {
    main#historia-main {
        padding: 0.938rem 0.625rem 7.813rem 1.25rem;
    }

    p.news-info-with-max-width {
        width: unset;
    }

    div.video-container
    img.play {
        height: 75px;
    }

    .info-video {
        margin-left: 0px;
        width: unset !important;
    }
 }

