main#historia-main {
    padding: 3.125rem 11.188rem 7.063rem 11rem;
    display: flex;
    flex-flow: column;
}

a.sintomas-link {
    color: #E03C31;
    cursor: pointer;
}

p.news-info-with-max-width {
    width: 33.75rem !important;
}

span.news-info-bold {
    font-weight: 500;
}


/* md - tablet */
@media (min-width: 577px) and (max-width: 1199px) {

    main#historia-main {
        padding: 0.938rem 0.625rem 7.813rem 1.25rem;
    }

    p.news-info-with-max-width {
        width: unset;
    }
 }

/* col - mobile */
@media(max-width: 576px) {
    main#historia-main {
        padding: 0.938rem 0.625rem 7.813rem 1.25rem;
    }

    p.news-info-with-max-width {
        width: unset;
    }
 }
 