main#sinais-main {
    padding: 50px 179px 113px 176px;
    display: flex;
    flex-flow: column;
}

main#sinais-main
div#news-container
p.news-info 
a.news-info-link {
    color: #E03C31;
    cursor: pointer;
}

main#sinais-main
div#news-container
div#news-table-container {
    display: flex;
}

main#sinais-main
div#news-container
div#news-table-container 
div.new-table-second-item {
    border-left: unset !important;
}

main#sinais-main
div#news-container
div#news-table-container
div.news-table { 
    margin-top: 50px;
    border: 1px dashed black;
    display: flex;
    flex-flow: column;
    max-width: 310px;
}

main#sinais-main
div#news-container
div#news-table-container
div.news-table
h3.news-table-title {
    font-weight: 400;
    margin: 0; 
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #000000;
    border-bottom: 1px dashed black;
    padding: 10px 0px;
}

main#sinais-main
div#news-container
div#news-table-container
div.news-table
span.news-table-item {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    border-top: 1px dashed black;
    height: 76px;
    padding: 13px;
    display: flex;
    align-items: center;
}

main#sinais-main
div#news-container
div#news-table-container
div.news-table
span.news-table-item
p.news-table-item-text  {
    width: 253px;
    margin: 0;
}

main#sinais-main
div#news-container
div#info-card {
    width: 633px;
    margin-top: 50px;
    border: 1px dashed #000;
    padding: 31px 40px;
}

main#sinais-main
div#news-container
div#info-card 
h3#info-card-title {
    font-weight: 500;
    font-size: 24px;
    margin: 0;
}

main#sinais-main
div#news-container
div#info-card 
p#info-card-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-top: 19px;
}

main#sinais-main
div#news-container
div#timeline {
    margin-top: 50px;
}

main#sinais-main
div#news-container
div#sintomas-timeline {
    max-width: 1536px;
    position: relative;
    margin-left: 50px;
    margin-top: 50px;
    display: flex;
    flex-flow: column;
}

main#sinais-main
div#news-container
div.sintomas-timeline-mt {
    margin-top: 25px !important;
}

main#sinais-main
div#news-container
div.sintomas-timeline-mt-little {
    margin-top: 5px !important;
}

main#sinais-main
div#news-container
div#timeline
div#sintomas-timeline::after {
    content: '';
    position: absolute;
    width: 1px;
    border: 1px dashed #E03C31;
    top: 0;
    bottom: 0;
    margin-left: -3px;
}

main#sinais-main
div#news-container
div#timeline
div#sintomas-timeline-text-iniciais {
    max-width: 1536px;
    position: relative;
    margin-left: 50px;
    margin-top: 13px;
    display: flex;
    flex-flow: column;
}

main#sinais-main
div#news-container
div#timeline
div#sintomas-timeline-text-iniciais::after {
    content: 'Iniciais4';
    position: absolute;
    width: 1px;
    top: 0;
    bottom: 0;
    margin-left: -33px;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #E03C31;
}

main#sinais-main
div#news-container
div#timeline
div#sintomas-timeline-text-moderados {
    max-width: 1536px;
    position: relative;
    margin-left: 50px;
    margin-top: 13px;
    display: flex;
    flex-flow: column;
}

main#sinais-main
div#news-container
div#timeline
div#sintomas-timeline-text-moderados::after {
    content: 'Moderados4';
    position: absolute;
    width: 1px;
    top: 0;
    bottom: 0;
    margin-left: -33px;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #E03C31;
}

main#sinais-main
div#news-container
div#timeline
div#sintomas-timeline-text-severos {
    max-width: 1536px;
    position: relative;
    margin-left: 50px;
    margin-top: 13px;
    display: flex;
    flex-flow: column;
}

main#sinais-main
div#news-container
div#timeline
div#sintomas-timeline-text-severos::after {
    content: 'Severos4';
    position: absolute;
    width: 1px;
    top: 0;
    bottom: 0;
    margin-left: -33px;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #E03C31;
}

main#sinais-main
div#news-container
div#timeline
div#sintomas-timeline-icon {
    max-width: 1536px;
    position: relative;
    margin-left: 50px;
    margin-top: 13px;
    display: flex;
    flex-flow: column;
}

main#sinais-main
div#news-container
div#timeline
div#sintomas-timeline-icon::after {
    content: url('../../images/sinaisESintomas/timeline-icon.png');;
    position: absolute;
    width: 1px;
    top: 0;
    bottom: 0;
    margin-left: -27px;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #E03C31;
}

main#sinais-main
div#news-container
div#timeline
div#sintomas-timeline-icon
div#sintomas-timeline-container
span.timeline-text-item {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

main#sinais-main
div#news-container
div#timeline
div#sintomas-timeline-icon
div#sintomas-timeline-container
span.timeline-text-item:not(:first-child) {
    margin-top: 30px;
}

main#sinais-main
div#news-container
div#timeline
div#sintomas-timeline-icon
div#sintomas-timeline-container {
    display: flex;
    flex-flow: column;
    margin-top: 14px;
    margin-left: 53px;
    position: relative;
}

main#sinais-main
div#news-container
div#timeline
div#sintomas-timeline
div#sintomas-timeline-container {
    display: flex;
    flex-flow: column;
    margin-left: 53px;
    position: relative;
}

main#sinais-main
div#news-container
div#timeline
div#sintomas-timeline
div.sintomas-timeline-container-first {
    min-height: 91px;
}

main#sinais-main
div#news-container
div#timeline
div#sintomas-timeline
div.sintomas-timeline-container-second {
    min-height: 126px;
}

main#sinais-main
div#news-container
div#timeline
div#sintomas-timeline
div.sintomas-timeline-container-third {
    min-height: 120px;
}

main#sinais-main
div#news-container
div#timeline
div#sintomas-timeline
div.sintomas-timeline-container-fourth {
    min-height: 91px;
}

main#sinais-main
div#news-container
div#timeline
div#sintomas-timeline
div.sintomas-timeline-container-fifth {
    min-height: 83px;
}

main#sinais-main
div#news-container
div#timeline
div#sintomas-timeline
div.sintomas-timeline-container-sixth {
    min-height: 169px;
}

main#sinais-main
div#news-container
div#timeline
div#sintomas-timeline
div.sintomas-timeline-container-seventh {
    min-height: 106px;
}

main#sinais-main
div#news-container
div#timeline
div#sintomas-timeline
div.sintomas-timeline-container-eighth {
    min-height: 57px;
}

main#sinais-main
div#news-container
div#timeline
div#sintomas-timeline
div.sintomas-timeline-container-ninth {
    min-height: 35px;
}

main#sinais-main
div#news-container
div#timeline
div#sintomas-timeline
div.sintomas-timeline-container-tenth {
    min-height: 228px;
}

main#sinais-main
div#news-container
div#timeline
div#sintomas-timeline
div#sintomas-timeline-container:not(:first-child) {
    margin-top: 30px;
}

main#sinais-main
div#news-container
div#timeline
div#sintomas-timeline
div#sintomas-timeline-container
span.timeline-text-item {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

span.timeline-item-max-width {
    max-width: 553px;
}

main#sinais-main
div#news-container
div#timeline
div#sintomas-timeline
div#sintomas-timeline-container
span.timeline-text-item:not(:first-child) {
    margin-top: 30px;
}

@media (min-width: 980px) and (max-width: 1199px) {

}

@media (min-width: 762px) and (max-width: 1199px) {
    main#sinais-main
    div#news-container
    div#news-table-container {
        flex-flow: row !important;
    }

    main#sinais-main
    div#news-container
    div#news-table-container 
    div.new-table-second-item {
        border-left: unset !important;
        margin-top: 50px !important;
    }
}

/* md - tablet */
@media (min-width: 577px) and (max-width: 1199px) {

    main#sinais-main {
        padding: 30px 35px 150px 35px;
    }
    
    main#sinais-main
    div#news-container
    div#news-table-container {
        flex-flow: column;
    }

    main#sinais-main
    div#news-container
    div#news-table { 
        margin-top: 14px;
    }

    main#sinais-main
    div#news-container
    div#news-table-container 
    div.new-table-second-item {
        border-left: 1px dashed black !important;
        margin-top: 25px;
    }

    main#sinais-main
    div#news-container
    div#news-table
    span.news-table-item {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #000;
        padding: 15px 10px 0px 10px;
        border-top: 1px dashed black;
    }

    main#sinais-main
    div#news-container
    div#news-table
    span.news-table-item
    p.news-table-item-text  {
        width: 360px;
    }

    main#sinais-main
    div#news-container
    div#news-table
    h3.news-table-title {
        font-size: 16px;
        line-height: 25px;
        padding: 10px 10px 10px 9px;
    }

    main#sinais-main
    div#news-container
    div#news-table { 
        margin-top: 14px;
    }

    main#sinais-main
    div#news-container
    div#news-table
    span.news-table-item {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #000;
        padding: 15px 10px 0px 10px;
        border-top: 1px dashed black;
    }

    main#sinais-main
    div#news-container
    div#news-table
    span.news-table-item
    p.news-table-item-text  {
        width: unset;
    }

    main#sinais-main
    div#news-container
    div#news-table
    h3.news-table-title {
        font-size: 16px;
        line-height: 25px;
        padding: 10px 10px 10px 9px;
    }

    main#sinais-main
    div#news-container
    div#info-card {
        width: unset;
        padding: 31px 20px;
        margin-top: 14px;
    }

    main#sinais-main
    div#news-container
    div#info-card 
    h3#info-card-title {
        font-weight: 500;
        font-size: 17px;
        margin: 0;
    }

    main#sinais-main
    div#news-container
    div#info-card 
    p#info-card-text {
        font-size: 16px;
        line-height: 25px;
    }

    main#sinais-main
    div#news-container
    div#timeline
    div#sintomas-timeline
    div#sintomas-timeline-container
    span.timeline-text-item {
        font-size: 14px;
        line-height: 20px;
    }

    main#sinais-main
    div#news-container
    div#timeline
    div#sintomas-timeline-icon
    div#sintomas-timeline-container
    span.timeline-text-item {
        font-size: 14px;
    }

    main#sinais-main
    div#news-container
    div#timeline {
        margin-top: 14px;
    }

    main#sinais-main
    div#news-container
    div#info-card {
        width: 455PX
    }

    main#sinais-main
    div#news-container
    div#info-card 
    h3#info-card-title {
        font-size: 17px;
    }

    main#sinais-main
    div#news-container
    div#info-card 
    p#info-card-text {
        font-weight: 400;
        font-size: 16px;
    }
 }

/* col - mobile */
@media(max-width: 576px) {
    main#sinais-main {
        padding: 0px 45px 125px 20px;
    }
 
    main#sinais-main
    div#breadcrumb {
        display: none;
    }
    
    main#sinais-main
    div#news-container
    div#news-table { 
        margin-top: 14px;
    }

    main#sinais-main
    div#news-container
    div#news-table
    span.news-table-item {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #000;
        padding: 15px 10px 0px 10px;
        border-top: 1px dashed black;
    }

    main#sinais-main
    div#news-container
    div#news-table
    span.news-table-item
    p.news-table-item-text  {
        width: unset;
    }

    main#sinais-main
    div#news-container
    div#news-table
    h3.news-table-title {
        font-size: 16px;
        line-height: 25px;
        padding: 10px 10px 10px 9px;
    }

    main#sinais-main
    div#news-container
    div#news-image-text {
        margin-top: 14px;
        margin-bottom: 35px;
    }

    main#sinais-main
    div#news-container
    div#news-table-container {
        flex-flow: column;
    }

    main#sinais-main
    div#news-container
    div#news-table-container 
    div.new-table-second-item {
        border-left: 1px dashed black !important;
        margin-top: 25px;
    }

    main#sinais-main
    div#news-container
    div#news-table-container
    div.news-table
    h3.news-table-title {
        margin: 0; 
        font-size: 17px;
    }

    main#sinais-main
    div#news-container
    div#news-table-container
    div.news-table
    span.news-table-item {
        font-size: 17px;
    }

    main#sinais-main
    div#news-container
    div#info-card {
        width: unset;
        padding: 31px 20px;
        margin-top: 14px;
    }

    main#sinais-main
    div#news-container
    div#info-card 
    h3#info-card-title {
        font-weight: 500;
        font-size: 17px;
        margin: 0;
    }

    main#sinais-main
    div#news-container
    div#info-card 
    p#info-card-text {
        font-size: 16px;
        line-height: 25px;
    }

    main#sinais-main
    div#news-container
    div#timeline
    div#sintomas-timeline
    div#sintomas-timeline-container
    span.timeline-text-item {
        font-size: 14px;
        line-height: 20px;
    }

    main#sinais-main
    div#news-container
    div#timeline
    div#sintomas-timeline-icon
    div#sintomas-timeline-container
    span.timeline-text-item {
        font-size: 14px;
    }

    main#sinais-main
    div#news-container
    div#timeline {
        margin-top: 14px;
    }

    main#sinais-main
    div#news-container
    div#info-card {
        width: unset
    }

    main#sinais-main
    div#news-container
    div#info-card 
    h3#info-card-title {
        font-size: 17px;
    }

    main#sinais-main
    div#news-container
    div#info-card 
    p#info-card-text {
        font-weight: 400;
        font-size: 16px;
    }
}
 