main#sinais-main {
    padding: 3.125rem 11.188rem 7.063rem 11rem;
    display: flex;
    flex-flow: column;
}

main#sinais-main
div#news-container
p.news-info 
a.news-info-link {
    color: #E03C31;
    cursor: pointer;
}

main#sinais-main
div#news-container
div#news-table-container {
    display: flex;
}

main#sinais-main
div#news-container
div#news-table-container 
div.new-table-second-item {
    border-left: unset !important;
}

main#sinais-main
div#news-container
div#news-table-container
div.news-table { 
    margin-top: 3.125rem;
    border: 1px dashed black;
    display: flex;
    flex-flow: column;
    max-width: 19.375rem;
}

main#sinais-main
div#news-container
div#news-table-container
div.news-table
h3.news-table-title {
    font-weight: 400;
    margin: 0; 
    font-size: 1.25rem;
    line-height: 1.563rem;
    text-align: center;
    color: #000000;
    border-bottom: 1px dashed black;
    padding: 0.625rem 0px;
}

main#sinais-main
div#news-container
div#news-table-container
div.news-table
span.news-table-item {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.563rem;
    color: #000000;
    border-top: 1px dashed black;
    height: 4.75rem;
    padding: 0.813rem;
    display: flex;
    align-items: center;
}

main#sinais-main
div#news-container
div#news-table-container
div.news-table
span.news-table-item
p.news-table-item-text  {
    width: 15.813rem;
    margin: 0;
}

main#sinais-main
div#news-container
div#info-card {
    width: 39.563rem;
    margin-top: 3.125rem;
    border: 1px dashed #000;
    padding: 1.938rem 2.5rem;
}

main#sinais-main
div#news-container
div#info-card 
h3#info-card-title {
    font-weight: 500;
    font-size: 1.5rem;
    margin: 0;
}

main#sinais-main
div#news-container
div#info-card 
p#info-card-text {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.875rem;
    margin-top: 1.188rem;
}

main#sinais-main
div#news-container
div#timeline {
    margin-top: 3.125rem;
}

main#sinais-main
div#news-container
div#sintomas-timeline {
    max-width: 96rem;
    position: relative;
    margin-left: 3.125rem;
    margin-top: 3.125rem;
    display: flex;
    flex-flow: column;
}

main#sinais-main
div#news-container
div.sintomas-timeline-mt {
    margin-top: 1.563rem !important;
}

main#sinais-main
div#news-container
div.sintomas-timeline-mt-little {
    margin-top: 0.313rem !important;
}

main#sinais-main
div#news-container
div#timeline
div#sintomas-timeline::after {
    content: '';
    position: absolute;
    width: 1px;
    border: 1px dashed #E03C31;
    top: 0;
    bottom: 0;
    margin-left: -0.188rem;
}

main#sinais-main
div#news-container
div#timeline
div#sintomas-timeline-text-iniciais {
    max-width: 96rem;
    position: relative;
    margin-left: 3.125rem;
    margin-top: 0.813rem;
    display: flex;
    flex-flow: column;
}

main#sinais-main
div#news-container
div#timeline
div#sintomas-timeline-text-iniciais::after {
    content: 'Iniciais4';
    position: absolute;
    width: 1px;
    top: 0;
    bottom: 0;
    margin-left: -2.063rem;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.875rem;
    color: #E03C31;
}

main#sinais-main
div#news-container
div#timeline
div#sintomas-timeline-text-moderados {
    max-width: 96rem;
    position: relative;
    margin-left: 3.125rem;
    margin-top: 0.813rem;
    display: flex;
    flex-flow: column;
}

main#sinais-main
div#news-container
div#timeline
div#sintomas-timeline-text-moderados::after {
    content: 'Moderados4';
    position: absolute;
    width: 1px;
    top: 0;
    bottom: 0;
    margin-left: -2.063rem;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.875rem;
    color: #E03C31;
}

main#sinais-main
div#news-container
div#timeline
div#sintomas-timeline-text-severos {
    max-width: 96rem;
    position: relative;
    margin-left: 3.125rem;
    margin-top: 0.813rem;
    display: flex;
    flex-flow: column;
}

main#sinais-main
div#news-container
div#timeline
div#sintomas-timeline-text-severos::after {
    content: 'Severos4';
    position: absolute;
    width: 1px;
    top: 0;
    bottom: 0;
    margin-left: -2.063rem;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.875rem;
    color: #E03C31;
}

main#sinais-main
div#news-container
div#timeline
div#sintomas-timeline-icon {
    max-width: 96rem;
    position: relative;
    margin-left: 3.125rem;
    margin-top: 0.813rem;
    display: flex;
    flex-flow: column;
}

main#sinais-main
div#news-container
div#timeline
div#sintomas-timeline-icon::after {
    content: url('../../images/sinaisESintomas/timeline-icon.png');;
    position: absolute;
    width: 1px;
    top: 0;
    bottom: 0;
    margin-left: -1.688rem;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.875rem;
    color: #E03C31;
}

main#sinais-main
div#news-container
div#timeline
div#sintomas-timeline-icon
div#sintomas-timeline-container
span.timeline-text-item {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.438rem;
    color: #000000;
}

main#sinais-main
div#news-container
div#timeline
div#sintomas-timeline-icon
div#sintomas-timeline-container
span.timeline-text-item:not(:first-child) {
    margin-top: 1.875rem;
}

main#sinais-main
div#news-container
div#timeline
div#sintomas-timeline-icon
div#sintomas-timeline-container {
    display: flex;
    flex-flow: column;
    margin-top: 0.875rem;
    margin-left: 3.313rem;
    position: relative;
}

main#sinais-main
div#news-container
div#timeline
div#sintomas-timeline
div#sintomas-timeline-container {
    display: flex;
    flex-flow: column;
    margin-left: 3.313rem;
    position: relative;
}

main#sinais-main
div#news-container
div#timeline
div#sintomas-timeline
div.sintomas-timeline-container-first {
    min-height: 5.688rem;
}

main#sinais-main
div#news-container
div#timeline
div#sintomas-timeline
div.sintomas-timeline-container-second {
    min-height: 7.875rem;
}

main#sinais-main
div#news-container
div#timeline
div#sintomas-timeline
div.sintomas-timeline-container-third {
    min-height: 7.5rem;
}

main#sinais-main
div#news-container
div#timeline
div#sintomas-timeline
div.sintomas-timeline-container-fourth {
    min-height: 5.688rem;
}

main#sinais-main
div#news-container
div#timeline
div#sintomas-timeline
div.sintomas-timeline-container-fifth {
    min-height: 5.188rem;
}

main#sinais-main
div#news-container
div#timeline
div#sintomas-timeline
div.sintomas-timeline-container-sixth {
    min-height: 10.563rem;
}

main#sinais-main
div#news-container
div#timeline
div#sintomas-timeline
div.sintomas-timeline-container-seventh {
    min-height: 6.625rem;
}

main#sinais-main
div#news-container
div#timeline
div#sintomas-timeline
div.sintomas-timeline-container-eighth {
    min-height: 3.563rem;
}

main#sinais-main
div#news-container
div#timeline
div#sintomas-timeline
div.sintomas-timeline-container-ninth {
    min-height: 2.188rem;
}

main#sinais-main
div#news-container
div#timeline
div#sintomas-timeline
div.sintomas-timeline-container-tenth {
    min-height: 14.25rem;
}

main#sinais-main
div#news-container
div#timeline
div#sintomas-timeline
div#sintomas-timeline-container:not(:first-child) {
    margin-top: 1.875rem;
}

main#sinais-main
div#news-container
div#timeline
div#sintomas-timeline
div#sintomas-timeline-container
span.timeline-text-item {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.438rem;
    color: #000000;
}

span.timeline-item-max-width {
    max-width: 34.563rem;
}

main#sinais-main
div#news-container
div#timeline
div#sintomas-timeline
div#sintomas-timeline-container
span.timeline-text-item:not(:first-child) {
    margin-top: 1.875rem;
}

@media (min-width: 980px) and (max-width: 1199px) {

}

@media (min-width: 762px) and (max-width: 1199px) {
    main#sinais-main
    div#news-container
    div#news-table-container {
        flex-flow: row !important;
    }

    main#sinais-main
    div#news-container
    div#news-table-container 
    div.new-table-second-item {
        border-left: unset !important;
        margin-top: 3.125rem !important;
    }
}

/* md - tablet */
@media (min-width: 577px) and (max-width: 1199px) {

    main#sinais-main {
        padding: 1.875rem 2.188rem 150px 2.188rem;
    }
    
    main#sinais-main
    div#news-container
    div#news-table-container {
        flex-flow: column;
    }

    main#sinais-main
    div#news-container
    div#news-table { 
        margin-top: 0.875rem;
    }

    main#sinais-main
    div#news-container
    div#news-table-container 
    div.new-table-second-item {
        border-left: 1px dashed black !important;
        margin-top: 1.563rem;
    }

    main#sinais-main
    div#news-container
    div#news-table
    span.news-table-item {
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: #000;
        padding: 0.938rem 0.625rem 0px 0.625rem;
        border-top: 1px dashed black;
    }

    main#sinais-main
    div#news-container
    div#news-table
    span.news-table-item
    p.news-table-item-text  {
        width: 360px;
    }

    main#sinais-main
    div#news-container
    div#news-table
    h3.news-table-title {
        font-size: 16px;
        line-height: 1.563rem;
        padding: 0.625rem 0.625rem 0.625rem 0.563rem;
    }

    main#sinais-main
    div#news-container
    div#news-table { 
        margin-top: 0.875rem;
    }

    main#sinais-main
    div#news-container
    div#news-table
    span.news-table-item {
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: #000;
        padding: 0.938rem 0.625rem 0px 0.625rem;
        border-top: 1px dashed black;
    }

    main#sinais-main
    div#news-container
    div#news-table
    span.news-table-item
    p.news-table-item-text  {
        width: unset;
    }

    main#sinais-main
    div#news-container
    div#news-table
    h3.news-table-title {
        font-size: 16px;
        line-height: 1.563rem;
        padding: 0.625rem 0.625rem 0.625rem 0.563rem;
    }

    main#sinais-main
    div#news-container
    div#info-card {
        width: unset;
        padding: 1.938rem 1.25rem;
        margin-top: 0.875rem;
    }

    main#sinais-main
    div#news-container
    div#info-card 
    h3#info-card-title {
        font-weight: 500;
        font-size: 1.063rem;
        margin: 0;
    }

    main#sinais-main
    div#news-container
    div#info-card 
    p#info-card-text {
        font-size: 1rem;
        line-height: 1.563rem;
    }

    main#sinais-main
    div#news-container
    div#timeline
    div#sintomas-timeline
    div#sintomas-timeline-container
    span.timeline-text-item {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }

    main#sinais-main
    div#news-container
    div#timeline
    div#sintomas-timeline-icon
    div#sintomas-timeline-container
    span.timeline-text-item {
        font-size: 0.875rem;
    }

    main#sinais-main
    div#news-container
    div#timeline {
        margin-top: 0.875rem;
    }

    main#sinais-main
    div#news-container
    div#info-card {
        width: 28.438rem
    }

    main#sinais-main
    div#news-container
    div#info-card 
    h3#info-card-title {
        font-size: 1.063rem;
    }

    main#sinais-main
    div#news-container
    div#info-card 
    p#info-card-text {
        font-weight: 400;
        font-size: 1rem;
    }
 }

/* col - mobile */
@media(max-width: 576px) {
    main#sinais-main {
        padding: 0px 2.813rem 7.813rem 1.25rem;
    }
 
    main#sinais-main
    div#breadcrumb {
        display: none;
    }
    
    main#sinais-main
    div#news-container
    div#news-table { 
        margin-top: 0.875rem;
    }

    main#sinais-main
    div#news-container
    div#news-table
    span.news-table-item {
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: #000;
        padding: 0.938rem 0.625rem 0px 0.625rem;
        border-top: 1px dashed black;
    }

    main#sinais-main
    div#news-container
    div#news-table
    span.news-table-item
    p.news-table-item-text  {
        width: unset;
    }

    main#sinais-main
    div#news-container
    div#news-table
    h3.news-table-title {
        font-size: 16px;
        line-height: 1.563rem;
        padding: 0.625rem 0.625rem 0.625rem 0.563rem;
    }

    main#sinais-main
    div#news-container
    div#news-image-text {
        margin-top: 0.875rem;
        margin-bottom: 2.188rem;
    }

    main#sinais-main
    div#news-container
    div#news-table-container {
        flex-flow: column;
    }

    main#sinais-main
    div#news-container
    div#news-table-container 
    div.new-table-second-item {
        border-left: 1px dashed black !important;
        margin-top: 1.563rem;
    }

    main#sinais-main
    div#news-container
    div#news-table-container
    div.news-table
    h3.news-table-title {
        margin: 0; 
        font-size: 1.063rem;
    }

    main#sinais-main
    div#news-container
    div#news-table-container
    div.news-table
    span.news-table-item {
        font-size: 1.063rem;
    }

    main#sinais-main
    div#news-container
    div#info-card {
        width: unset;
        padding: 1.938rem 1.25rem;
        margin-top: 0.875rem;
    }

    main#sinais-main
    div#news-container
    div#info-card 
    h3#info-card-title {
        font-weight: 500;
        font-size: 1.063rem;
        margin: 0;
    }

    main#sinais-main
    div#news-container
    div#info-card 
    p#info-card-text {
        font-size: 1rem;
        line-height: 1.563rem;
    }

    main#sinais-main
    div#news-container
    div#timeline
    div#sintomas-timeline
    div#sintomas-timeline-container
    span.timeline-text-item {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }

    main#sinais-main
    div#news-container
    div#timeline
    div#sintomas-timeline-icon
    div#sintomas-timeline-container
    span.timeline-text-item {
        font-size: 0.875rem;
    }

    main#sinais-main
    div#news-container
    div#timeline {
        margin-top: 0.875rem;
    }

    main#sinais-main
    div#news-container
    div#info-card {
        width: unset
    }

    main#sinais-main
    div#news-container
    div#info-card 
    h3#info-card-title {
        font-size: 1.063rem;
    }

    main#sinais-main
    div#news-container
    div#info-card 
    p#info-card-text {
        font-weight: 400;
        font-size: 1rem;
    }
}
 