main#alzheimer-main {
    padding: 3.125rem 11.188rem 7.063rem 11rem;
    display: flex;
    flex-flow: column;
}

main#alzheimer-main
div#page-container
div#related-column {
    margin-top: 9.375rem;
    width: 18.438rem;
}

main#alzheimer-main
div#page-container
div#related-column
div#related-doctor {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 1.375rem 1.063rem 1.25rem 1.125rem;
    border: 1px dashed #000;
    border-radius: 1.25rem;
}

main#alzheimer-main
div#page-container
div#related-column
div#related-doctor
p.related-doctor-text {
    margin-top: 2.25rem;
    font-size: 0.75rem;
    line-height: 1.563rem;
    color: #000000;
}

main#alzheimer-main
div#page-container
div#related-charts {
    margin-top: 5.875rem;
}

main#alzheimer-main
div#page-container
div#related-charts
div.related-chart {
    margin-top: 2.5rem;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

main#alzheimer-main
div#page-container
div#related-charts
div.related-chart
p.related-chart-text {
    margin-top: 2.5rem;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.438rem;
    color: #000;
    width: 14.375rem;
}


main#alzheimer-main
div#news-container
div#fatores-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3.125rem;
    width: 40.313rem;
}

main#alzheimer-main
div#news-container
div#fatores-container
div.fatores-container-item {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 7.25rem;
    align-self: baseline;
}

main#alzheimer-main
div#news-container
div#fatores-container
div.fatores-container-item:not(:first-child) {
    margin-left: 2.75rem;
}

main#alzheimer-main
div#news-container
div#fatores-container
div.fatores-container-item:last-child {
    margin-left: 0px;
    margin-top: 2.938rem;
}

main#alzheimer-main
div#news-container
div#fatores-container
div.fatores-container-item
span.fatores-container-item-text {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: #000000;
    margin-top: 1.438rem;
}

main#alzheimer-main
div#news-container
ul#brain-activity {
    margin-top: 3.125rem;
    width: 40.063rem;
}

main#alzheimer-main
div#news-container
ul#brain-activity
li.brain-activity-item {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2.25rem;
    color: #000;
}

.icon-image-cidadania {
    margin-right: 30px;
}

.icon-image-cidadania--ml-bigger {
    margin-right: 50px;
}

.icon-item--no-padding-left {
    padding-left: 0px;
}

.icon-image-cidadania--ml-bigger {
    margin-right: 50px;
}

div#related-column {
    margin-top: 150px;
    width: 295px;
}

div#related-column
div#related-doctor {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 22px 17px 20px 18px;
    border: 1px dashed #000;
    border-radius: 20px;
}


div#related-column
div#related-doctor
p.related-doctor-text {
    margin-top: 36px;
    font-size: 12px;
    line-height: 25px;
    color: #000000;
}

div#related-charts {
    margin-top: 94px
}

div#related-charts
div.related-chart {
    margin-top: 40px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}


div#related-charts
div.related-chart
p.related-chart-text {
    margin-top: 40px;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #000;
    width: 230px;
}

h2.subtitle-customized {
    width: unset;
}


@media(min-width: 1200px) and (max-width: 1326px) {
    main#alzheimer-main
    div#news-container
    ul#brain-activity {
        margin-top: 3.125rem;
        width: 34rem;
    }

    h2.subtitle-customized {
        width: 34.5rem !important;
    }    
}

@media(min-width: 992px) and (max-width: 1199px) {
    .icon-image-cidadania--ml-bigger {
        margin-right: 50px;
    }    
}

@media(max-width: 1199px) {
    .icon-image-cidadania {
        margin-right: unset;
    }

    .icon-item--no-padding-left {
        padding-left: unset;
    }
}


/* md - tablet */
@media (min-width: 577px) and (max-width: 1199px) {

    main#alzheimer-main {
        padding: 0.938rem 0.625rem 7.813rem 1.25rem;
    }

    main#alzheimer-main
    div#related-column {
        display: none;
    }

    main#alzheimer-main
    div#news-container
    ul#brain-activity
    li.brain-activity-item {
        font-size: 1.063rem;
        line-height: 1.875rem
    }

    main#alzheimer-main
    div#news-container
    ul#brain-activity {
        width: unset
    }
 }

/* col - mobile */
@media(max-width: 576px) {
    main#alzheimer-main {
        padding: 0.938rem 0.625rem 7.813rem 1.25rem;
    }
 
    main#alzheimer-main
    div#related-column {
        display: none;
    }

    main#alzheimer-main
    div#news-container
    ul#brain-activity
    li.brain-activity-item {
        font-size: 1.063rem;
        line-height: 1.875rem
    }

    main#alzheimer-main
    div#news-container
    ul#brain-activity {
        width: unset;
        margin-top: 1.125rem;
    }

}
 