main#home-main {
    padding: 3.063rem 11.324rem 7.5rem 11.511rem;
    display: flex;
    flex-flow: column;
    align-items: center;
}

main#home-main
.cards
.card-info-row {
   margin-top: 71px;
}

main#home-main
.cards
.card-info--test {
    border: 1px dashed #000;
    height: 17.5rem;
    border-radius: 1.089rem;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5.313rem 1.563rem 5.813rem 2.5rem;
}

main#home-main
.cards
.card-info--test 
.card-info-test-link-container {
    font-weight: 400;
    font-size: 1.063rem;
    line-height: 1.438rem;
    text-decoration: none;
    color: #000000;
}

main#home-main
.cards
.card-info--test
.card-info-test-link-container
.card-info-test-text-begin {
    font-weight: 700;
    font-size: 1.063rem;
    color: #000;
    margin-top: 0.625rem;
}

main#home-main
.cards
.card-info
.card-info-link-container {
    display: flex;
    flex-flow: column;
    align-items: baseline;
    text-decoration: none;
}

main#home-main
.cards
.card-info
.card-info-link-container
.card-info-image {
    object-fit: cover; 
    height: 17.5rem;
}

main#home-main
.cards
.card-info
.card-info-link-container
.card-info-text {
    margin-top: 1.306rem;
    font-size: 1.125rem;
    line-height: 1.438rem;
    color: #000000;
}

main#home-main
.cards
.card-info
.card-info-relateds {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0.625rem;
}

main#home-main
.cards
.card-info
.card-info-relateds
.card-info-related {
    border: 1px solid #E03C31;
    border-radius: 0.875rem;
    font-size: 0.938rem;
    color: #E03C31;
    font-weight: 700;
    padding: 0 0.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

main#home-main
.cards
.card-info
.card-info-relateds
.card-info-related:not(:first-child) {
    margin-left: 6px;
}

/* md - tablet */
@media(min-width:577px) and (max-width: 1199px) {
   main#home-main {
     padding: 0.938rem 0.625rem 7.813rem 1.25rem;
   }

   main#home-main
   .container
   .cards
   .card-info {
       margin-top: 1.5rem;
   }
}

/* col - mobile */
@media (max-width: 576px) {
    main#home-main {
        padding: 0.938rem 0.625rem 7.813rem 1.25rem;
    }

    main#home-main
    .container
    .cards
    .card-info {
        margin-top: 1.5rem;
    }
}