@font-face {font-family: "Source Sans Pro";
    src: url("./@font-face/SourceSansPro-Regular.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

@font-face {font-family: "Source Sans Pro Bold";
  src: url("./@font-face/SourceSansPro-Bold.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

@font-face {font-family: "Bebas Neue";
  src: url("./@font-face/bebas-neue.ttf") format("truetype"),
}