@import "../style.css";

header#header {
    width: 100%;
}

header#header div#nav-desk-container {
    width: 100%;
}

/* Nav com os links principais */

header#header nav#principal-nav {
    width: 100%;
    height: 4.938rem;
    background-color: var(--llyc-primary);
    position: relative;
}


header#header 
nav#principal-nav 
div#principal-nav-container {
    padding-left: 8.938rem;
    padding-right: 10rem;
    position: relative;
    bottom: 3.188rem;
}

header#header 
nav#secondary-nav 
div#secondary-nav-container {
    height: 100%;
    /* padding-left: 43.938rem; */
    padding-right: 10rem;
    position: relative;
    justify-content: flex-end;
}

header#header 
nav#principal-nav 
img#logo {
    position: relative;
    background-color: var(--llyc-secondary);
    cursor: pointer;
}

header#header 
nav#principal-nav 
div#logo-container {
    padding: 0 0.375rem;
    background-color: var(--llyc-secondary);
}


header#header 
nav#principal-nav 
div#principal-nav-container 
div#principal-nav-items {
    width: 100%;
    padding-left: 3.75rem;
}

header#header 
nav#principal-nav 
div#principal-nav-container 
div#principal-nav-items 
.principal-nav-item {
    position: relative;
    bottom: 0.938rem;
    font-size: 0.813rem;
    line-height: 1.125rem;
    text-decoration: none;
    color: var(--llyc-secondary);
    cursor: pointer;
}

header#header 
nav#principal-nav 
div#principal-nav-container 
div#principal-nav-items 
.principal-nav-item--regular   {
    width: 7.175rem !important
}

header#header 
nav#principal-nav 
div#principal-nav-container 
div#principal-nav-items 
.principal-nav-item--short   {
    max-width: 3.375rem !important;
}

header#header 
nav#principal-nav 
div#principal-nav-container 
div#principal-nav-items 
.principal-nav-item--medium   {
    width: 5rem !important
}

header#header 
nav#principal-nav 
div#principal-nav-container 
div#principal-nav-items 
.principal-nav-item-container {
    height: 2.25rem;
    display: flex;
    flex-flow: column;
    align-items: center;
}

header#header 
nav#secondary-nav 
div#secondary-nav-container 
div#secondary-nav-items 
div#secondary-nav-item-container:first-child {
    margin-left: 0px;
    display: flex;
    align-items: center;
}

.nav-item-container {
    max-width: 6.25rem;
}

/* Nav com os links secundários */

header#header 
nav#secondary-nav 
div#secondary-nav-container {
    z-index: 1000;
}

header#header 
nav#secondary-nav 
div#secondary-nav-container 
div#secondary-nav-items 
div#secondary-nav-item-container {
    margin-left: 2.188rem;
    /* min-width: 8.7rem; */
    display: flex;
    align-items: center;
}

header#header nav#secondary-nav {
    height: 4.938rem;
    background-color: var(--llyc-secondary);
}

header#header 
nav#secondary-nav 
div#logo-container {
    width: 15.25rem;
}

header#header 
nav#secondary-nav 
div#secondary-nav-container 
div#secondary-nav-items 
.secondary-nav-item {
    margin-left:0.75rem;
    font-size: 0.7rem;
    line-height: 1.125rem;
    text-decoration: none;
    color: var(--llyc-primary);
    cursor: pointer;
}

header#header 
nav#secondary-nav 
div#secondary-nav-container 
div#secondary-nav-items
div#secondary-nav-item-container
.principal-nav-item {
    margin-left: 0.625rem;
    position: relative;
    font-size: 0.813rem;
    line-height: 1.125rem;
    text-decoration: none;
    max-width: 4.375rem;
    color: var(--llyc-primary);
    cursor: pointer;
}

header#header 
nav#secondary-nav 
div#secondary-nav-container 
div#secondary-nav-items
.principal-nav-item-container {
    width: 9.313rem;
    height: 2.25rem;
    display: flex;
    flex-flow: column;
}

header#header 
nav#secondary-nav 
div#secondary-nav-container 
div#secondary-nav-items
.principal-nav-item-container--short {
    width: 6.25rem;
}

@media (min-width: 1200px) and (max-width: 1300px) {
    header#header 
    nav#principal-nav 
    div#principal-nav-container {
        padding-left: 1.938rem;
    }

    header#header 
    nav#principal-nav 
    div#principal-nav-container 
    div#principal-nav-items {
        width: 100%;
        padding-left: 2.5rem;
    }
}

@media (min-width: 1200px) and (max-width: 1350px) { 
    .nav-item-container {
        max-width: 3.125rem;
    }
}

/* mobile */
header#header 
div#nav-mobile-container {
    width: 100%;
    padding-top: 1.438rem;
    position: relative;
}

header#header 
div#nav-mobile-container
i#nav-mobile-icon {
    right: 0.938rem;
    bottom: 3.438rem;
    position: absolute;
    cursor: pointer;
}

header#header 
nav#nav-mobile {
    background-color: var(--llyc-primary);
    z-index: 1000;
    height: 100%;
    position: fixed;
    width: 80%;
    right: 0;
    top: 0;
    display: none;
    overflow-y: scroll;
    padding-bottom: 30px;
}

header#header 
nav#nav-mobile 
div#nav-mobile-icon-container {
    padding: 0.715rem 0 0 0.965rem;
}

header#header 
nav#nav-mobile 
div#nav-mobile-icon-container
img#nav-mobile-close-icon {
    cursor: pointer;
}

header#header 
nav#nav-mobile 
ul#nav-mobile-items {
    margin-top: 2.75rem;
    padding: 0 2.375rem 0 1.625rem;
    list-style-type: none;
}

header#header 
nav#nav-mobile 
ul#nav-mobile-items
div.nav-mobile-item-container
li.nav-mobile-item
a,
header#header 
nav#nav-mobile 
ul#nav-mobile-items
div.nav-mobile-item-container
li.nav-mobile-item {
    color: #FFF;
    font-style: normal;
    font-weight: 800;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
}

header#header 
nav#nav-mobile 
ul#nav-mobile-items
div.nav-mobile-item-container
ul.nav-mobile-item-subcontainer {
    display: none;
    list-style-type: none;
}

.nav-mobile-item-subcontainer--block {
    display: block !important;
}

header#header 
nav#nav-mobile 
ul#nav-mobile-items
div.nav-mobile-item-container
ul.nav-mobile-item-subcontainer
li.nav-mobile-item-subcontainer-item,
header#header 
nav#nav-mobile 
ul#nav-mobile-items
div.nav-mobile-item-container
ul.nav-mobile-item-subcontainer
li.nav-mobile-item-subcontainer-item a {
    list-style-type: none;
    margin-top: 1.563rem;
    font-style: normal;
    font-weight: 400;
    font-size: 0.913rem;
    line-height: 1rem;
    color: #FFF;
    cursor: pointer;
    text-decoration: none;
}

header#header 
nav#nav-mobile 
ul#nav-mobile-items
div.nav-mobile-item-container:not(:first-child) {
    margin-top: 1.875rem;
}

header#header 
nav#nav-mobile 
div#nav-perfil-options {
    margin-top: 2.75rem;
    padding: 0 2.375rem 0 1.625rem;
    color: #FFF;
    cursor: pointer;
}

header#header 
nav#nav-mobile 
span.nav-perfil-options-txt {
    font-weight: 400;
    font-size: 0.875rem;
    margin-left: 0.688rem;
}


.nav-mobile--block {
    display: block !important;
}

/* nav-perfil */
header#header 
div#nav-mobile-container {
    width: 100%;
    padding-top: 1.438rem;
    position: relative;
}

header#header 
div#nav-mobile-container
i#nav-mobile-icon {
    right: 0.938rem;
    bottom: 3.438rem;
    position: absolute;
    cursor: pointer;
}

header#header 
nav#nav-perfil {
    background-color: #FFF;
    z-index: 1000;
    height: 100%;
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    display: none;
    flex-flow: column;
    align-items: center;
}

header#header 
nav#nav-perfil
div#nav-perfil-icon-container {
    padding: 0.715rem 0 0 0.965rem;
    align-self: flex-start;
}

header#header 
nav#nav-perfil
div#nav-perfil-icon-container
img#nav-perfil-close-icon {
    cursor: pointer;
}

header#header 
nav#nav-perfil
div#nav-perfil-items-container {
    padding: 0 2.375rem 0 1.625rem;
}

header#header 
nav#nav-perfil
div#nav-perfil-items-container
h2#nav-perfil-title {
    margin-top: 2.5rem;
    font-weight: 800;
    font-size: 1rem;
    line-height: 4.063rem;
    letter-spacing: 0.03em;
    color: #000;
}

header#header 
nav#nav-perfil
div#nav-perfil-items-container
ul#nav-perfil-items {
    margin-top: 2.75rem;
    list-style-type: none;
    padding: 0;
}

header#header 
nav#nav-perfil
div#nav-perfil-items-container
ul#nav-perfil-items
div.nav-perfil-item-container
li.nav-perfil-item {
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: 0.03em;
    color: #E03C31;
    cursor: pointer;
}

header#header 
nav#nav-perfil 
div#nav-perfil-items-container
ul#nav-perfil-items
div.nav-perfil-item-container
ul.nav-perfil-item-subcontainer {
    display: none;
    list-style-type: none;
}

.nav-perfil-item-subcontainer--block {
    display: block !important;
}

header#header 
nav#nav-perfil
div#nav-perfil-items-container
ul#nav-perfil-items
div.nav-perfil-item-container
ul.nav-perfil-item-subcontainer
li.nav-perfil-item-subcontainer-item {
    list-style-type: none;
    margin-top: 1.563rem;
    font-style: normal;
    font-weight: 400;
    font-size: 0.813rem;
    line-height: 1rem;
    color: #FFF;
    cursor: pointer;
}

header#header 
nav#nav-perfil
div#nav-perfil-items-container
ul#nav-perfil-items
div.nav-perfil-item-container:not(:first-child) {
    margin-top: 1.875rem;
}

.nav-perfil--block {
    display: block !important;
}

.nav-perfil--block {
    display: flex !important;
}
