main#manifesto-main {
    padding: 50px 179px 113px 176px;
    display: flex;
    flex-flow: column;
}

main#manifesto-main
div#breadcrumb {
    display: flex;
}

main#manifesto-main
div#breadcrumb
div.cidadania-breadcrumb-item:not(:first-child) {
    margin-left: 14px;
}

main#manifesto-main
div#breadcrumb
div.cidadania-breadcrumb-item
a.breadcrumb-item-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #000000;
}

main#manifesto-main
div#breadcrumb
div.cidadania-breadcrumb-item
img.breadcrumb-item-arrow {
    margin-left: 14px;
    width: 20px;
}

main#manifesto-main
div#title {
    display: flex;
    justify-content: space-between;
    margin-top: 38px;
}

main#manifesto-main
div#title
h1#title-text {
    font-weight: 400;
    max-width: 620px;
    font-size: 38px;
}

main#manifesto-main
div#title
div#card-info-related-container {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}

main#manifesto-main
div#title
div#card-info-related-container
img#card-info-related-share {
    margin-top: 28px;
}

main#manifesto-main
div#title
div#card-info-related-container
div.card-info-relateds {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

main#manifesto-main
div#title
div#card-info-related-container
div.card-info-relateds
div.card-info-related {
    border: 1px solid #E03C31;
    border-radius: 14px;
    font-size: 15px;
    color: #E03C31;
    font-weight: 700;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main#manifesto-main
div#title
div#card-info-related-container
div.card-info-relateds
div.card-info-related:not(:first-child) {
    margin-left: 6px;
}

main#manifesto-main
div#news-container
p#news-date {
    margin-top: 50px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
}

main#manifesto-main
div#news-container
p.news-info {
    width: 665px;
    margin-top: 50px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

main#manifesto-main
div#news-container
h2.title-subtitle {
    margin-top: 50px;
    font-weight: 500;
    font-size: 28px;
    line-height: 30px;
    color: #000000;
}

main#manifesto-main
div#news-container
h2.text-subtitle-little {
    width: 600px;
}

main#manifesto-main
div#news-container
div.news-image-text-container {
    margin-top: 62px;
}

main#manifesto-main
div#news-container
div.news-image-text-container
div.news-image-text-container-item {
    display: flex;
    align-items: center;
}

main#manifesto-main
div#news-container
div.news-image-text-container
div.news-image-text-container-item:not(:first-child) {
    margin-top: 55px;
}

main#manifesto-main
div#news-container
div.news-image-text-container
div.news-image-text-container-item
div.image-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    min-width: 172px;
}

main#manifesto-main
div#news-container
div.news-image-text-container
div.news-image-text-container-item
div.image-container
span.image-number {
    margin-top: 12px;
    font-size: 36px;
    color: #000000;
    max-width: 181px;
    line-height: 29px;
}

main#manifesto-main
div#news-container
div.news-image-text-container
div.news-image-text-container-item
span.news-image-text-container-item-text {
    margin-left: 55px;
    color: #E03C31;
    margin-bottom: 20px;
    max-width: 345px;
}

main#manifesto-main
div#news-container
div.news-image-text-container
div.news-image-text-container-item
span.no-margin {
    margin-bottom: 0;
}

main#manifesto-main
div#news-container
div#action-card {
    margin-top: 66px;
    border: 1px dashed #000;
    padding: 45px 40px 30px 46px;
    max-width: 633px;
}

main#manifesto-main
div#news-container
div#action-card
p.action-card-text  {
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    color: #000000;
}

main#manifesto-main
div#news-container
div#action-card
p.action-card-text-mt  {
    margin-top: 34px;
}

main#manifesto-main
div#news-container
div#action-card
div#actions-container {
    margin-top: 19px
}

main#manifesto-main
div#news-container
div#action-card
div#actions-container
div.actions-container-item {
    display: flex;
    align-items: flex-start;
}

main#manifesto-main
div#news-container
div#action-card
div#actions-container
div.actions-container-item:not(:first-child) {
    margin-top: 8px;
}

main#manifesto-main
div#news-container
div#action-card
div#actions-container
div.actions-container-item
span.actions-text {
    margin-left: 25px;
    max-width: 325px;
}

main#manifesto-main
div#news-container
div#alert-card {
    padding: 45px 40px 47px 46px;
    background: #E03C31;
    max-width: 633px;
    margin-top: 50px;
}

main#manifesto-main
div#news-container
div#alert-card
p#alert-card-text  {
    font-size: 19px;
    line-height: 30px;
    color: #FFF;
}

main#manifesto-main
div#news-container
ul.news-info-list {
    margin-top: 50px;
}

main#manifesto-main
div#news-container
ul.news-info-list
li.news-info-list-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    color: #000000;
}

main#manifesto-main
div#news-container
ul.news-info-list
li.news-info-list-item--little {
    width: 650px;
}

main#manifesto-main
div#news-container
ul.style-none {
    list-style: none;
}