main#manifesto-main {
    padding: 50px 179px 113px 176px;
    display: flex;
    flex-flow: column;
}

main#manifesto-main
div#news-container
div.news-image-text-container {
    margin-top: 62px;
}

main#manifesto-main
div#news-container
div.news-image-text-container
div.news-image-text-container-item {
    display: flex;
    align-items: center;
}

main#manifesto-main
div#news-container
div.news-image-text-container
div.news-image-text-container-item:not(:first-child) {
    margin-top: 55px;
}

main#manifesto-main
div#news-container
div.news-image-text-container
div.news-image-text-container-item
div.image-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    min-width: 172px;
}

main#manifesto-main
div#news-container
div.news-image-text-container
div.news-image-text-container-item
div.image-container
span.image-number {
    margin-top: 12px;
    font-size: 36px;
    color: #000000;
    max-width: 181px;
    line-height: 29px;
}

main#manifesto-main
div#news-container
div.news-image-text-container
div.news-image-text-container-item
span.news-image-text-container-item-text {
    margin-left: 55px;
    color: #E03C31;
    margin-bottom: 20px;
    max-width: 345px;
}

main#manifesto-main
div#news-container
div.news-image-text-container
div.news-image-text-container-item
span.no-margin {
    margin-bottom: 0;
}

main#manifesto-main
div#news-container
div#alert-card {
    padding: 45px 40px 47px 46px;
    background: #E03C31;
    max-width: 633px;
    margin-top: 50px;
}

main#manifesto-main
div#news-container
div#alert-card
p#alert-card-text  {
    font-size: 19px;
    line-height: 30px;
    color: #FFF;
}

@media (min-width: 577px) and (max-width: 1199px) { 
    main#manifesto-main {
        padding: 0px 45px 125px 20px;
    }

    
    main#manifesto-main
    div#news-container
    div.news-image-text-container {
        margin-top: 20px;
    }   

    main#manifesto-main
    div#news-container
    div.news-image-text-container
    div.news-image-text-container-item
    div.image-container
    span.image-number {
        font-size: 22px;
    }

    main#manifesto-main
    div#news-container
    div.news-image-text-container
    div.news-image-text-container-item
    span.news-image-text-container-item-text {
        margin-left: -45px;
    }

    main#manifesto-main
    div#news-container
    div.news-image-text-container
    div.news-image-text-container-item
    span.news-image-text-container-item--ml-bigger {
        margin-left: -95px;
    }

    main#manifesto-main
    div#news-container
    div.news-image-text-container
    div.news-image-text-container-item
    div.image-container {
        align-items: baseline;
    }

    main#manifesto-main
    div#news-container
    div#alert-card {
        padding: 21px 21px 11px 21px;
        margin-top: 20px;
    }

    main#manifesto-main
    div#news-container
    div#alert-card
    p#alert-card-text  {
        font-size: 14px;
        line-height: 22px;
    }
}


@media(max-width: 576px) {
    main#manifesto-main {
        padding: 0px 45px 125px 20px;
    }

    
    main#manifesto-main
    div#news-container
    div.news-image-text-container {
        margin-top: 20px;
    }   

    main#manifesto-main
    div#news-container
    div.news-image-text-container
    div.news-image-text-container-item
    div.image-container
    span.image-number {
        font-size: 22px;
    }

    main#manifesto-main
    div#news-container
    div.news-image-text-container
    div.news-image-text-container-item
    span.news-image-text-container-item-text {
        margin-left: -45px;
    }

    main#manifesto-main
    div#news-container
    div.news-image-text-container
    div.news-image-text-container-item
    span.news-image-text-container-item--ml-bigger {
        margin-left: -95px;
    }

    main#manifesto-main
    div#news-container
    div.news-image-text-container
    div.news-image-text-container-item
    div.image-container {
        align-items: baseline;
    }

    main#manifesto-main
    div#news-container
    div#alert-card {
        padding: 21px 21px 11px 21px;
        margin-top: 20px;
    }

    main#manifesto-main
    div#news-container
    div#alert-card
    p#alert-card-text  {
        font-size: 14px;
        line-height: 22px;
    }

 
}
 