main#manifesto-main {
    padding: 3.125rem 11.188rem 7.063rem 11rem;
    display: flex;
    flex-flow: column;
}

main#manifesto-main
div#news-container
div.news-image-text-container {
    margin-top: 3.875rem;
}

main#manifesto-main
div#news-container
div.news-image-text-container
div.news-image-text-container-item {
    display: flex;
    align-items: center;
}

main#manifesto-main
div#news-container
div.news-image-text-container
div.news-image-text-container-item:not(:first-child) {
    margin-top: 3.438rem;
}

main#manifesto-main
div#news-container
div.news-image-text-container
div.news-image-text-container-item
div.image-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    min-width: 10.75rem;
}

main#manifesto-main
div#news-container
div.news-image-text-container
div.news-image-text-container-item
div.image-container
span.image-number {
    margin-top: 0.75rem;
    font-size: 2.25rem;
    color: #000000;
    max-width: 11.313rem;
    line-height: 1.813rem;
}

main#manifesto-main
div#news-container
div.news-image-text-container
div.news-image-text-container-item
span.news-image-text-container-item-text {
    margin-left: 3.438rem;
    color: #E03C31;
    margin-bottom: 1.25rem;
    max-width: 21.563rem;
}

main#manifesto-main
div#news-container
div.news-image-text-container
div.news-image-text-container-item
span.no-margin {
    margin-bottom: 0;
}

main#manifesto-main
div#news-container
div#alert-card {
    padding: 2.813rem 2.5rem 2.938rem 2.875rem;
    background: #E03C31;
    max-width: 39.563rem;
    margin-top: 3.125rem;
}

main#manifesto-main
div#news-container
div#alert-card
p#alert-card-text  {
    font-size: 1.188rem;
    line-height: 1.875rem;
    color: #FFF;
}

@media (min-width: 577px) and (max-width: 1199px) { 
    main#manifesto-main {
        padding: 0px 2.813rem 125px 1.25rem;
    }

    
    main#manifesto-main
    div#news-container
    div.news-image-text-container {
        margin-top: 1.25rem;
    }   

    main#manifesto-main
    div#news-container
    div.news-image-text-container
    div.news-image-text-container-item
    div.image-container
    span.image-number {
        font-size: 1.375rem;
    }

    main#manifesto-main
    div#news-container
    div.news-image-text-container
    div.news-image-text-container-item
    span.news-image-text-container-item-text {
        margin-left: -2.813rem;
    }

    main#manifesto-main
    div#news-container
    div.news-image-text-container
    div.news-image-text-container-item
    span.news-image-text-container-item--ml-bigger {
        margin-left: -5.938rem;
    }

    main#manifesto-main
    div#news-container
    div.news-image-text-container
    div.news-image-text-container-item
    div.image-container {
        align-items: baseline;
    }

    main#manifesto-main
    div#news-container
    div#alert-card {
        padding: 1.313rem 1.313rem 11px 1.313rem;
        margin-top: 1.25rem;
    }

    main#manifesto-main
    div#news-container
    div#alert-card
    p#alert-card-text  {
        font-size: 0.875rem;
        line-height: 1.375rem;
    }
}


@media(max-width: 576px) {
    main#manifesto-main {
        padding: 0px 2.813rem 125px 1.25rem;
    }

    
    main#manifesto-main
    div#news-container
    div.news-image-text-container {
        margin-top: 1.25rem;
    }   

    main#manifesto-main
    div#news-container
    div.news-image-text-container
    div.news-image-text-container-item
    div.image-container
    span.image-number {
        font-size: 1.375rem;
    }

    main#manifesto-main
    div#news-container
    div.news-image-text-container
    div.news-image-text-container-item
    span.news-image-text-container-item-text {
        margin-left: -2.813rem;
    }

    main#manifesto-main
    div#news-container
    div.news-image-text-container
    div.news-image-text-container-item
    span.news-image-text-container-item--ml-bigger {
        margin-left: -5.938rem;
    }

    main#manifesto-main
    div#news-container
    div.news-image-text-container
    div.news-image-text-container-item
    div.image-container {
        align-items: baseline;
    }

    main#manifesto-main
    div#news-container
    div#alert-card {
        padding: 1.313rem 1.313rem 11px 1.313rem;
        margin-top: 1.25rem;
    }

    main#manifesto-main
    div#news-container
    div#alert-card
    p#alert-card-text  {
        font-size: 0.875rem;
        line-height: 1.375rem;
    }

 
}
 