@import "../style.css";

/*desk*/
footer#footer-desk {
    width: 100%;
    height: 349px;
    background: var(--llyc-secondary);
    padding: 76px 182px 75px 177px;
}

footer#footer-desk nav#primary-nav {
    max-height: 196px;
    padding-left: 0.813rem;
    border-left: 3px solid #6C4E45;
}

footer#footer-desk nav#primary-nav .primary-nav-item {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.125rem;
    text-decoration: none;
    color: #6C4E45;
    width: 240px;
}

footer#footer-desk nav#primary-nav .primary-nav-item:not(:first-child) {
    margin-top: 12px;
}

footer#footer-desk nav#secondary-nav {
    max-height: 106px;
    padding-left: 0.813rem;
    border-left: 3px solid var(--llyc-primary);
    margin-left: 108px;
}

footer#footer-desk nav#secondary-nav .secondary-nav-item {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.125rem;
    text-decoration: none;
    color: var(--llyc-primary);
    width: 158px;
}

footer#footer-desk nav#secondary-nav .secondary-nav-item:not(:first-child) {
    margin-top: 12px;
}

footer#footer-desk div#footer-info {
    margin-left: 140px;
    max-width: 401px;
}

footer#footer-desk div#footer-info .footer-logo {
    width: 174px;
}

footer#footer-desk div#footer-info .footer-info-text {
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    text-align: justify;
    color: #6C4E45;
    margin-top: 40px;
}

/*mobile*/
footer#footer-mobile {
    width: 100%;
    height: 94px;
    background: var(--llyc-secondary);
    
    position: fixed;
    bottom: 0;
    padding: 0px 17px 0px 17px;
    box-shadow: 0px -3px 4px rgba(0, 0, 0, 0.19);
}

footer#footer-mobile nav#nav-mobile {
    width: 100%;
}

footer#footer-mobile nav#nav-mobile a.nav-mobile-item {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 13px;
    padding-bottom: 19px;
    text-decoration: none;
    cursor: pointer;
}

footer#footer-mobile 
nav#nav-mobile 
a.nav-mobile-item:hover {
    background-color: white;
}

footer#footer-mobile 
nav#nav-mobile 
a.nav-mobile-item 
img.nav-mobile-item-icon {
    width: 18px;
}

footer#footer-mobile 
nav#nav-mobile 
a.nav-mobile-item 
span.nav-mobile-item-text {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #E03C31;
    margin-top: 13px;
    text-decoration: none;
}

@media(min-width: 1440px) {
    footer#footer-desk {
        justify-content: space-between;
    }
    footer#footer-desk nav#secondary-nav { 
        margin-left: 0px;
    }

    footer#footer-desk div#footer-info {
        margin-left: 0px;
    }
}

@media (min-width: 1200px) {
    footer#footer-desk {
        display: flex;
    }
    footer#footer-mobile {
        display: none;
    }
}

/* md - tablet */
@media (min-width: 1200px) and (max-width: 1350px) {
    footer#footer-desk {
        padding: 76px 55px 75px 177px;
    }
}

/* md - tablet */
@media (min-width: 577px) and (max-width: 1199px) {
    footer#footer-desk {
        display: none;
    }
    footer#footer-mobile {
        display: flex;
    }
}
 
 /* col - mobile */
 @media (max-width: 576px) {
    footer#footer-desk {
        display: none;
    }
    footer#footer-mobile {
        display: flex;
    }
 }