main#estagios-main {
    padding: 3.125rem 11.188rem 7.063rem 11rem;
    display: flex;
    flex-flow: column;
}

main#estagios-main
div#news-container
h2.title-italic {
    font-style: italic;
    font-size: 1.25rem !important;
    width: unset !important;
}


.icon-margin-left {
    margin-left: 20px;
}

/************** estagios column ****************/
main#estagios-main
div#news-container
div#timeline {
    margin-top: 3.125rem;
    margin-left: 3.125rem;
}

main#estagios-main
div#news-container
div#sintomas-timeline {
    max-width: 96rem;
    position: relative;
    margin-left: 3.125rem;
    margin-top: 3.125rem;
    display: flex;
    flex-flow: column;
}

main#estagios-main
div#news-container
div.sintomas-timeline-mt {
    margin-top: 1.563rem !important;
}

main#estagios-main
div#news-container
div.sintomas-timeline-mt-little {
    margin-top: 0.313rem !important;
}

main#estagios-main
div#news-container
div#timeline
div#sintomas-timeline::after {
    content: '';
    position: absolute;
    width: 1px;
    border: 1px dashed #E03C31;
    top: 0;
    bottom: 0;
    margin-left: -3px;
}

main#estagios-main
div#news-container
div#timeline
div.sintomas-timeline-text {
    width: 11.688rem;
    position: relative;
    margin-left: 3.125rem;
    margin-top: 0.813rem;
    display: flex;
    flex-flow: column;
}

main#estagios-main
div#news-container
div#timeline
div#sintomas-timeline-text-iniciais::after {
    content: 'Pré-clínico';
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -2.063rem;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.875rem;
    color: #E03C31;
}

main#estagios-main
div#news-container
div#timeline
div#sintomas-timeline-text-ccl::after {
    content: 'CCL';
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1rem;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.875rem;
    color: #E03C31;
}

main#estagios-main
div#news-container
div#timeline
div#sintomas-timeline-text-leves::after {
    content: 'Demência leve';
    position: absolute;
    width: 1px;
    top: 0;
    bottom: 0;
    margin-left: -3.75rem;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.875rem;
    color: #E03C31;
    width: 12.5rem;
}

main#estagios-main
div#news-container
div#timeline
div#sintomas-timeline-text-moderados::after {
    content: 'Demência moderada';
    position: absolute;
    width: 1px;
    top: 0;
    bottom: 0;
    margin-left: -5rem;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.875rem;
    color: #E03C31;
    width: 12.5rem;
}

main#estagios-main
div#news-container
div#timeline
div#sintomas-timeline-text-severos::after {
    content: 'Demência grave';
    position: absolute;
    width: 1px;
    top: 0;
    bottom: 0;
    margin-left: -4.25rem;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.875rem;
    color: #E03C31;
    width: 12.5rem;
}

main#estagios-main
div#news-container
div#timeline
div#sintomas-timeline-text-moderados {
    max-width: 96rem;
    position: relative;
    margin-left: 3.125rem;
    margin-top: 0.813rem;
    display: flex;
    flex-flow: column;
}

main#estagios-main
div#news-container
div#timeline
div#sintomas-timeline-text-severos {
    max-width: 96rem;
    position: relative;
    margin-left: 3.125rem;
    margin-top: 0.813rem;
    display: flex;
    flex-flow: column;
}

main#estagios-main
div#news-container
div#timeline
div#sintomas-timeline-icon {
    max-width: 96rem;
    position: relative;
    margin-left: 3.125rem;
    margin-top: 0.813rem;
    display: flex;
    flex-flow: column;
}

main#estagios-main
div#news-container
div#timeline
div#sintomas-timeline-icon
div#sintomas-timeline-container
span.timeline-text-item {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.438rem;
    color: #000000;
}

main#estagios-main
div#news-container
div#timeline
div#sintomas-timeline-icon
div#sintomas-timeline-container
span.timeline-text-item:not(:first-child) {
    margin-top: 1.875rem;
}

main#estagios-main
div#news-container
div#timeline
div#sintomas-timeline-icon
div#sintomas-timeline-container {
    display: flex;
    flex-flow: column;
    margin-top: 0.875rem;
    margin-left: 3.313rem;
    position: relative;
}

main#estagios-main
div#news-container
div#timeline
div#sintomas-timeline
div#sintomas-timeline-container {
    display: flex;
    flex-flow: column;
    margin-left: 3.313rem;
    position: relative;
}

main#estagios-main
div#news-container
div#timeline
div#sintomas-timeline
div#sintomas-timeline-container:not(:first-child) {
    margin-top: 1.875rem;
}

main#estagios-main
div#news-container
div#timeline
div#sintomas-timeline
div#sintomas-timeline-container
span.timeline-text-item {
    font-weight: 400;
    font-size: 1.188rem;
    line-height: 1.438rem;
    color: #000000;
}

main#estagios-main
div#news-container
div#timeline
div#sintomas-timeline
div#sintomas-timeline-container
ul.timeline-text-list {
    list-style: none;
}

main#estagios-main
div#news-container
div#timeline
div#sintomas-timeline
div#sintomas-timeline-container
ul.timeline-text-list
li.timeline-text-list-item {
    font-weight: 400;
    font-size: 1.188rem;
    line-height: 1.438rem;    
    color: #000;
}

main#estagios-main
div#news-container
div#timeline
div#sintomas-timeline
div#sintomas-timeline-container
ul.timeline-text-list
li.timeline-text-list-item:first-child {
    margin-top: 0.75rem;
}

main#estagios-main
div#news-container
div#timeline
div#sintomas-timeline
div#sintomas-timeline-container
span.timeline-text-item:not(:first-child) {
    margin-top: 1.875rem;
}

span.timeline-item-max-width {
    max-width: 34.563rem;
}
/********/


/* estagios timeline */
main#estagios-main
div#news-container
div#estagios-timeline {
    width: 43.063rem;
    position: relative;
    margin-top: 3.25rem;
    width: 100%;
}

main#estagios-main
div#news-container
div#estagios-timeline
div.estagios {
    display: flex;
    align-items: center;
    margin-bottom: 1.875rem
}

main#estagios-main
div#news-container
div#estagios-timeline
div.estagios-bottom {
    margin-top: 1.875rem
}

main#estagios-main
div#news-container
div#estagios-timeline
div.estagios
div.estagios-container-item {
    font-weight: 300;
    font-size: 0.938rem;
    line-height: 1.438rem;
    color: #000;
}

main#estagios-main
div#news-container
div#estagios-timeline
div.estagios
div.container-item-little {
    width: 7.813rem;
}

main#estagios-main
div#news-container
div#estagios-timeline
div.estagios
div.estagios-container-item:not(:first-child) {
    margin-left: 0.938rem;
}

main#estagios-main
div#news-container
div#estagios-timeline
div.estagios
div.estagios-container-item--no-ml {
    margin-left: 0px !important;
}

.no-margin-top {
    margin-top: unset;
}

.image-timeline {
    max-height: 200px;
}

main#estagios-main
div#news-container
div#estagios-timeline
div.estagios-bottom
div.estagios-container-item:not(:first-child) {
    margin-left: 2.875rem;
}

main#estagios-main
div#news-container
div#estagios-timeline
div.estagios-bottom
div.estagios-container-item {
    width: 6.875rem;
}

main#estagios-main
div#news-container
div#estagios-timeline
div.estagios
img.estagios-container-arrow {
    margin-left: 0.938rem;
}

main#estagios-main
div#news-container
div#estagios-timeline
div.timeline {
    position: relative;
    display: flex;
}

main#estagios-main
div#news-container
div#estagios-timeline
div.timeline::after {
    content: '';
    position: absolute;
    width: 43.063rem;
    border: 1px dashed #E03C31;
}

main#estagios-main
div#news-container
div#estagios-timeline
div.timeline
div.timeline-division::before {
    content: url('../../images/estagios/timeline-division.png');;
    position: absolute;
    top: -0.688px;
    width: 1px;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.875rem;
    color: #E03C31;
}

main#estagios-main
div#news-container
div#estagios-timeline
div.timeline
div.timeline-division-first {
    margin-left: 1.5rem;
}

main#estagios-main
div#news-container
div#estagios-timeline
div.timeline
div.timeline-division-second {
    margin-left: 9.063rem;
}

main#estagios-main
div#news-container
div#estagios-timeline
div.timeline
div.timeline-division-third {
    margin-left: 10.313rem;
}

main#estagios-main
div#news-container
div#estagios-timeline
div.timeline
div.timeline-division-fourth {
    margin-left: 9.375rem;
}

main#estagios-main
div#news-container
div#estagios-timeline
div.timeline
div.timeline-division-fifth {
    margin-left: 9.375rem;
}
/***/

a.sintomas-link {
    color: #E03C31;
    cursor: pointer;
}

a.estagios-link {
    color: #E03C31;
    cursor: pointer;
}

p.news-info-with-max-width {
    width: 33.75rem !important;
}

span.news-info-bold {
    font-weight: 500;
}

/* md - tablet */
@media (min-width: 577px) and (max-width: 1199px) {

    main#estagios-main {
        padding: 0.938rem 0.625rem 7.813rem 1.25rem;
    }

    p.news-info-with-max-width {
        width: unset;
    }

    main#estagios-main
    div#news-container
    div#estagios-timeline {
        display: flex;
        width: unset;
        justify-content: space-between;
        width: 100%;
    }

    main#estagios-main
    div#news-container
    div#estagios-timeline
    div.estagios {
        align-items: baseline;
        flex-flow: column;
    }

    main#estagios-main
    div#news-container
    div#estagios-timeline
    div.estagios
    div.estagios-container-item {
        /* max-width: 8.125rem; */
        margin-top: 2.25rem;
    }

    main#estagios-main
    div#news-container
    div#estagios-timeline
    div.estagios
    div.container-item-little {
        width: 9.825rem !important;
    }

    .no-margin-top {
        margin-top: 0.75rem !important;
    }

    main#estagios-main
    div#news-container
    div#estagios-timeline
    div.estagios
    img.estagios-container-arrow {
        margin-top: 1.25rem;
    }

    main#estagios-main
    div#news-container
    div#estagios-timeline
    div.timeline::after {
        width: 1px;
        height: 32.188rem;
    }

    main#estagios-main
    div#news-container
    div#estagios-timeline
    div.estagios-bottom {
        margin-top: 0px;
        margin-left: 1.5rem
    }

    main#estagios-main
    div#news-container
    div#estagios-timeline
    div.timeline
    div.timeline-division::before {
        display: none;
        width: 0px;
    }

    main#estagios-main
    div#news-container
    div#estagios-timeline
    div.estagios
    div.estagios-container-item:not(:first-child) {
        margin-left: 0px;
    }

    main#estagios-main
    div#news-container
    div#estagios-timeline
    div.timeline
    div.timeline-division-first {
        margin-left: 0px;
    }

    main#estagios-main
    div#news-container
    div#estagios-timeline
    div.timeline
    div.timeline-division-second {
        margin-left: 0px;
    }

    main#estagios-main
    div#news-container
    div#estagios-timeline
    div.timeline
    div.timeline-division-third {
        margin-left: 0px;
    }

    main#estagios-main
    div#news-container
    div#estagios-timeline
    div.timeline
    div.timeline-division-fourth {
        margin-left: 0px;
    }

    main#estagios-main
    div#news-container
    div#estagios-timeline
    div.timeline
    div.timeline-division-fifth {
        margin-left: 0px;
    }

    main#estagios-main 
    div#news-container 
    div#timeline 
    div.sintomas-timeline-text {
        margin-left: 0.5rem;
    }

    main#estagios-main 
    div#news-container 
    div#timeline 
    div#sintomas-timeline  {
        margin-left: 0.5rem;
    }


 }

/* col - mobile */
@media(max-width: 576px) {
    main#estagios-main {
        padding: 0.938rem 0.625rem 7.813rem 1.25rem;
    }

    p.news-info-with-max-width {
        width: unset;
    }

    main#estagios-main
    div#news-container
    div#estagios-timeline {
        display: flex;
        width: unset;
        justify-content: center;
    }

    main#estagios-main
    div#news-container
    div#estagios-timeline
    div.estagios {
        align-items: baseline;
        flex-flow: column;
    }

    main#estagios-main
    div#news-container
    div#estagios-timeline
    div.estagios
    div.estagios-container-item {
        max-width: 8.125rem;
        margin-top: 1.25rem;
    }

    main#estagios-main
    div#news-container
    div#estagios-timeline
    div.estagios
    img.estagios-container-arrow {
        margin-top: 1.25rem;
    }

    main#estagios-main
    div#news-container
    div#estagios-timeline
    div.timeline::after {
        width: 1px;
        height: 32.188rem;
    }

    main#estagios-main
    div#news-container
    div#estagios-timeline
    div.estagios-bottom {
        margin-top: 0px;
        margin-left: 1.5rem
    }

    main#estagios-main
    div#news-container
    div#estagios-timeline
    div.timeline
    div.timeline-division::before {
        display: none;
        width: 0px;
    }

    main#estagios-main
    div#news-container
    div#estagios-timeline
    div.estagios
    div.estagios-container-item:not(:first-child) {
        margin-left: 0px;
    }

    main#estagios-main
    div#news-container
    div#estagios-timeline
    div.timeline
    div.timeline-division-first {
        margin-left: 0px;
    }

    main#estagios-main
    div#news-container
    div#estagios-timeline
    div.timeline
    div.timeline-division-second {
        margin-left: 0px;
    }

    main#estagios-main
    div#news-container
    div#estagios-timeline
    div.timeline
    div.timeline-division-third {
        margin-left: 0px;
    }

    main#estagios-main
    div#news-container
    div#estagios-timeline
    div.timeline
    div.timeline-division-fourth {
        margin-left: 0px;
    }

    main#estagios-main
    div#news-container
    div#estagios-timeline
    div.timeline
    div.timeline-division-fifth {
        margin-left: 0px;
    }

    main#estagios-main
    div#news-container
    div#timeline {
        margin-left: 0px;
    }

    main#estagios-main
    div#news-container
    div#timeline
    div#sintomas-timeline
    div#sintomas-timeline-container
    span.timeline-text-item {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }

    main#estagios-main
    div#news-container
    div#timeline
    div#sintomas-timeline-icon
    div#sintomas-timeline-container
    span.timeline-text-item {
        font-size: 0.875rem;
    }

    main#estagios-main
    div#news-container
    div#timeline {
        margin-top: 0.875rem;
    }

    main#estagios-main 
    div#news-container 
    div#timeline 
    div#sintomas-timeline  {
        margin-left: 0.5rem;
    }

    
    main#estagios-main 
    div#news-container 
    div#timeline 
    div.sintomas-timeline-text {
        margin-left: 0.5rem;
    }

    main#estagios-main
    div#news-container
    div#timeline
    div#sintomas-timeline-text-iniciais::after {
        margin-left: -0.375rem;
    }

    main#estagios-main
    div#news-container
    div#timeline
    div#sintomas-timeline-text-ccl::after {
        margin-left: -0.375rem;
    }

    main#estagios-main
    div#news-container
    div#timeline
    div#sintomas-timeline-text-leves::after {
        margin-left: -0.375rem;
    }

    main#estagios-main
    div#news-container
    div#timeline
    div#sintomas-timeline-text-moderados::after {
        margin-left: -2.875rem;
    }

    main#estagios-main
    div#news-container
    div#timeline
    div#sintomas-timeline-text-severos::after {
        margin-left: -2.875rem;
    }

    main#estagios-main 
    div#news-container 
    div#timeline 
    div#sintomas-timeline 
    div#sintomas-timeline-container {
        margin-left: 0.625rem;
    }

    main#estagios-main 
    div#news-container 
    div#timeline 
    div#sintomas-timeline 
    div#sintomas-timeline-container 
    ul.timeline-text-list 
    li.timeline-text-list-item {
        font-size: 0.875rem;
    }

 }
 