@import "./bootstrap/css/bootstrap.min.css";
@import "./components/nav-item/style.css";
@import "./header/style.css";
@import "./footer/style.css";
@import "../fonts/fonts.css";

:root {
  --llyc-background: #E5E5E5;
  --llyc-primary: #E03C31;
  --llyc-secondary: #FDF8EC;
}

* {
   box-sizing: border-box;
}

html, body {
   width: 100%;
   height: 100%;
}

.font-regular {
   font-family: 'Trade Gothic Next LT Pro', 'Open Sans';
   font-weight: 400;
}

.font-bold {
   font-family: 'Trade Gothic Next LT Pro', 'Open Sans';
   font-weight: 700;
}

.font-extra-bold {
   font-family: "Trade Gothic Next LT Pro BdCn" !important;
   font-weight: 800;
}

/* icon-text-component */
div.icon-text-container {
    margin-top: 3.125rem;
    max-width: 41.25rem !important;
}

div.icon-text-container
h3.icon-text-title {
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 1.875rem;
    color: #000000;
}

div.icon-text-container
div.icon-text-container-row {
    display: flex;
    margin-top: 2.063rem;
}

div.icon-text-container
div.icon-text-container-row-mt-bigger {
    margin-top: 5.25rem
}

div.icon-text-container
div.icon-text-container-row
div.icon-text-item {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 30px;
}

div.icon-text-container
div.icon-text-container-row
div.icon-text-item--no-margin {
    margin-top: 0px !important;
}

div.icon-text-container
div.icon-text-container-row
a.icon-text-item {
    display: flex;
    flex-flow: column;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

div.icon-text-container
div.icon-text-container-row
div.icon-text-item
p.icon-text-item-text-mt-bigger {
    margin-top: 1.625rem !important;
}

div.icon-text-container
div.icon-text-container-row
div.icon-text-item
img.icon-text-image,
div.icon-text-container
div.icon-text-container-row
a.icon-text-item
img.icon-text-image {
    height: 2.813rem
}

div.icon-text-container
div.icon-text-container-row
a.icon-text-item
p.icon-text-item-text--little,
div.icon-text-container
div.icon-text-container-row
div.icon-text-item
p.icon-text-item-text--little {
    max-width: 8.438rem !important
}

div.icon-text-container
div.icon-text-container-row
div.icon-text-item
p.icon-text-item-text--smaller {
    max-width: 7.875rem !important
}

div.icon-text-container
div.icon-text-container-row
a.icon-text-item
p.icon-text-item-text--bigger,

div.icon-text-container
div.icon-text-container-row
div.icon-text-item
p.icon-text-item-text--bigger {
    max-width: 16.188rem;
    width: 16.188rem;
}

div.icon-text-container
div.icon-text-container-row
div.icon-text-item-row {
    display: flex;
    align-items: center;
}

div.icon-text-container
div.icon-text-item-row--mt-bigger {
    margin-top: 4.438rem !important;
}

div.icon-text-container
div.icon-text-container-row
div.icon-text-item
p.icon-text-item-text {
    /* margin-top: 0.75rem; */
    margin-left: 10px;
    font-size: 1.25rem;
    line-height: 1.438rem;
    color: #000;
    margin-bottom: 0px;
}

div.icon-text-container
div.icon-text-container-row--column {
    display: flex;
    flex-flow: column;
}

div.icon-text-container
div.icon-text-container-row--column
div.icon-text-item--to-row {
    display: flex;
    align-items: center;
    flex-flow: row;
}

div.icon-text-container
div.icon-text-container-row--column
div.icon-text-item--to-row:not(:first-child) {
    margin-top: 2.875rem;
}

div.icon-text-container
div.icon-text-container-row--column
div.icon-text-item:not(:first-child) {
    margin-top: 2rem;
}


div.icon-text-container
div.icon-text-container-row--column
div.icon-text-item
img.icon-text-image {
    height: 2.813rem;
}

div.icon-text-container
div.icon-text-container-row--column
div.icon-text-item
img.icon-text-image--no-height {
    height: unset;
}

div.icon-text-container
div.icon-text-container-row--column
div.icon-text-item
p.icon-text-item-text {
    max-width: 24.375rem;
    margin-top: 0.75rem;
    font-size: 1.25rem;
    line-height: 1.438rem;
    color: #000;
    padding: 0px;
    margin-bottom: 0px;
}

div.icon-text-container
div.icon-text-container-row--column
div.icon-text-item
p.icon-text-item-text--no-mw {
    max-width: unset;
}

div.icon-text-container
div.icon-text-container-row--column
div.icon-text-item--to-row
p.icon-text-item-text--little {
    max-width: 20.625rem;
    margin-top: 0.75rem;
    font-size: 1.25rem;
    line-height: 1.438rem;
    color: #000;
}

div.icon-text-container
div.icon-text-container-row--column
div.icon-text-item--to-row
p.icon-text-item-text--toRight {
    margin-left: 3.75rem;
}

/**/


/* action card */
div.action-card {
    margin-top: 4.125rem;
    border: 0.063rem dashed #000;
    padding: 2.813rem 2.5rem 1.875rem 2.875rem;
    max-width: 633px;
}

div.action-card
ul.action-card-list  {
    list-style: none;
    margin-top: 1.625rem;
    padding: 0;
}

div.action-card
ul.action-card-list 
li.action-card-list-item {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: #000;
}

div.action-card
p.action-card-text {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: #000000;
    margin-top: 2.313rem;
}

div.action-card
p.action-card-text--no-margin-top {
    margin-top: 0px;
}
/**/

/* ********** */
div#breadcrumb {
    display: flex;
}

div#breadcrumb
div.breadcrumb-breadcrumb-item {
    display: flex;
    align-items: center;
}

div#breadcrumb
div.breadcrumb-breadcrumb-item:not(:first-child) {
    margin-left: 0.875rem;
}

div#breadcrumb
div.breadcrumb-breadcrumb-item
a.breadcrumb-item-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.875rem;
    color: #000000;
}

div#breadcrumb
div.breadcrumb-breadcrumb-item
img.breadcrumb-item-arrow {
    margin-left: 0.875rem;
    width: 1.25rem;
}

div#title {
    display: flex;
    justify-content: space-between;
    margin-top: 2.375rem;
}

div#title
h1#title-text {
    font-weight: 400;
    font-size: 2.375rem;
}

div.card-info-related-container {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}

div.card-info-related-container
img#card-info-related-share {
    margin-top: 1.75rem;
}

div.card-info-related-container
div.card-info-relateds {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0.625rem;
}

div.card-info-related-container
div.card-info-relateds
div.card-info-related {
    border: 0.063rem solid #E03C31;
    border-radius: 0.875rem;
    font-size: 0.938rem;
    color: #E03C31;
    font-weight: 700;
    padding: 0 0.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

div.card-info-related-container
div.card-info-relateds
div.card-info-related:not(:first-child) {
    margin-left: 6px;
}

p#news-date {
    margin-top: 3.125rem;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.875rem;
    color: #000000;
}

p.news-info {
    width: 665px;
    margin-top: 3.125rem;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: #000000;
}

p.news-info--little {
    font-size: 0.9rem !important;
}

p.news-info-bold {
    font-weight: 500;
}

a.sintomas-link {
    color: #E03C31;
    cursor: pointer;
}

p.news-info-with-max-width {
    width: 540px !important;
}

span.news-info-bold {
    font-weight: 500;
}

div#news-container
h2.title-subtitle {
    margin-top: 3.125rem;
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 1.875rem;
    color: #000000;
}

div#news-container
h2.text-subtitle-little {
    width: 37.5rem;
}

div#news-container
ul.news-info-list {
    margin-top: 3.125rem;
    margin-bottom: 0;
}

div#news-container
ul.news-info-list--no-margin-top {
    margin-top: 1.125rem !important;
}

div#news-container
ul.news-info-list
li.news-info-list-item {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 2.25rem;
    color: #000000;
}

div#news-container
ul.news-info-list
li.news-info-list-item--little {
    width: 40.625rem;
}

div#news-container
ul.style-none {
    list-style: none;
}

div#news-container
button.news-info-button {
    margin-top: 3.125rem;
    font-size: 1rem;
    line-height: 1.375rem;
    color: #E03C31;
    background-color: white;
    border: 0.063rem solid #E03C31;
    padding: 0.938rem;
    border-radius: 0.625rem;
    font-weight: 700;
}

div#news-container
div#action-card {
    margin-top: 4.125rem;
    border: 0.063rem dashed #000;
    padding: 2.4rem 2.5rem 1.875rem 2.875rem;
    max-width: 39.563rem;
}

div#news-container
div#action-card
p.action-card-text  {
    font-weight: 400;
    font-size: 1.188rem;
    line-height: 1.875rem;
    color: #000000;
}

div#news-container
div#action-card
p.action-card-text-mt  {
    margin-top: 2.125rem;
}

div#news-container
div#action-card
div#actions-container {
    /* margin-top: 1.188rem; */
}

div#news-container
div#action-card
div#actions-container
div.actions-container-item {
    display: flex;
    align-items: flex-start;
}

div#news-container
div#action-card
div#actions-container
div.actions-container-item {
    margin-top: 1rem;
}

img.news-container-image {
    margin-top: 3.125rem;
    width: unset;
}

div#news-container
img.news-container-image--with-height {
    height: 500px;
}

div#news-container
img.news-container-image--no-margin-top {
    margin-top: 0px !important;
}

/************/

/* Bootstrap carousel */
.carousel-control-next-icon:after  {
    content: '';
	display: inline-block;
    margin-top: 1.05em;
    margin-left: -0.6em;
    width: 1.4em;
    height: 1.4em;
    border-top: 0.5em solid #333;
    border-right: 0.5em solid #333;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.carousel-control-prev-icon:after {
    content: '';
    display: inline-block;
    margin-top: 1.05em;
    margin-left: 0.6em;
    width: 1.4em;
    height: 1.4em;
    border-top: 0.5em solid #333;
    border-right: 0.5em solid #333;
    -moz-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
}

.carousel-container {
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img.carousel-image {
    width: 37.5rem;
}
 
/* xl - desktop */
@media (min-width: 1200px) {
    html {font-size: 16px;}
}

@media (min-width: 980px) and (max-width: 1199px) {
    /* div#news-container
    p.news-info {
        width: 39.063rem !important;
    } */

    div#news-container
    ul.news-info-list
    li.news-info-list-item--little {
        width: 100% !important;
    }

    div.icon-text-container
    div.icon-text-container-row
    div.icon-text-item
    p.icon-text-item-text {
        max-width: unset;
    }
}

@media (min-width: 991px) and (max-width: 1199px) { 
    div.icon-container-servicos {
        max-width: unset !important;
    }
}

/* md - tablet */
@media (min-width: 577px) and (max-width: 1199px) {
   html {font-size: 15px;}

   div#news-container
   h2.title-subtitle {
       font-size: 1.5rem;
       line-height: 1.875rem;
   }

   div#news-container
   h2.text-subtitle-little {
       width: 30rem;
       margin-bottom: 0px;
   }

   div#breadcrumb
   div.breadcrumb-breadcrumb-item {
       display: none;
   }

   div#title {
       display: flex;
       justify-content: space-between;
   }

   div#title
   h1#title-text {
       font-weight: 400;
       font-size: 1.5rem;
       width: 100%;
   }
   
   div#news-container
   p#news-date {
       margin-top: 0.875rem;
       font-size: 0.875rem;
       margin-bottom: 0px;
   }

   div.card-info-related-container
   div.card-info-relateds {
       flex-wrap: nowrap;
   }

   div.card-info-related-container
   div.card-info-relateds
   div.card-info-related {
       font-size: 11px;
   }

   div#title
   div.card-info-related-container
   img#card-info-related-share {
       margin-top: 0.625rem;
   }

   div#news-container
   p.news-info {
        width: unset;
        font-size: 1rem;
        line-height: 1.375rem;
        margin-top: 0.875rem;
   }

   div#news-container
   button.news-info-button {
       font-size: 0.813rem !important;
       padding: 0.625rem !important;
       width: 100%;
   }

   div#news-container
   ul.news-info-list {
       margin-bottom: 0;
   }

   div#news-container
   ul.news-info-list
   li.news-info-list-item {
       font-size: 1rem;
       line-height: 1.625rem;
   }

   div#news-container
   ul.news-info-list
   li.news-info-list-item--little {
        width: 100% !important;
   }

   main#manifesto-main
   div#news-container
   div#action-card {
       padding: 1.563rem 1.563rem 1.875rem 1.563rem;
   }

   main#manifesto-main
   div#news-container
   div#action-card
   p.action-card-text {
       font-size: 1rem;
       line-height: 1.438rem;
   }

   div#title
   div.card-info-related-container{
    display: none;
   }

    img.news-container-image {
        width: 100%;
    }

    div.icon-text-container {
        max-width: unset;
    }

    div.icon-text-container
    div.icon-text-container-row:first-child{
        margin-top: 2.063rem;
    }

    div.icon-text-container
    div.icon-text-container-row
    div.icon-text-item
    p.icon-text-item-text {
        max-width: unset;
       font-size: 1.063rem;
    }

    div.icon-text-container
    div.icon-text-container-row--column
    div.icon-text-item
    p.icon-text-item-text {
        font-size: 1rem;
    }

    img.news-container-image--with-height {
        height: 230px;
    }
}

/* col - mobile */
@media (max-width: 576px) {
   html {font-size: 14px !important;}

   div#breadcrumb {
       display: none;
   }
   
   div#title
   div#card-info-related-container{
       display: none;
   }
   
   div#title {
       display: flex;
       justify-content: space-between;
   }

   div#title
   h1#title-text {
       font-weight: 400;
       font-size: 1.5rem;
       width: 100%;
   }

   div#news-container
   p#news-date {
       margin-top: 0.875rem;
       font-weight: 400;
       font-size: 0.75rem;
       color: #000;
   }

   div#news-container
   p.news-info {
        width: unset;
        font-size: 1rem;
        line-height: 1.375rem;
   }

   div#news-container
   p.news-info-with-max-width {
       width: 16.875rem !important;
   }

   div#news-container
   button.news-info-button {
       font-size: 0.813rem !important;
       padding: 0.625rem !important;
       width: 100%;
   }
   
   div#news-container
   h2.title-subtitle {
       font-size: 1.5rem;
       line-height: 1.875rem;
   }

   div#news-container
   h2.text-subtitle-little {
       width: unset !important;
       margin-bottom: 0px;
   }

   div#news-container
   ul.news-info-list {
       margin-bottom: 0;
   }

   div#news-container
   ul.news-info-list
   li.news-info-list-item {
       font-size: 1rem;
       line-height: 1.625rem;
   }

   div#news-container
   ul.news-info-list
   li.news-info-list-item--little {
        width: 100% !important;
   }

   div#news-container
   div#action-card {
       padding: 0.563rem 1.563rem 1.875rem 1.563rem;
   }

   div#news-container
   div#action-card
   div#actions-container
   div.actions-container-item {
       flex-flow: column;
    }

    div#news-container
    div#action-card
    div#actions-container
    div.actions-container-item {
        margin-top: 1.563rem;
     }

   div#news-container
   div#action-card
   p.action-card-text {
       font-size: 1rem;
       line-height: 1.438rem;
   }

   div.card-info-related-container {
       display: none;
   }

   img.news-container-image {
       width: 100%;
   }

    div#news-container
    img.news-container-image--with-height {
        height: 230px;
    }

   div.icon-text-container {
        max-width: unset;
    }

    div.icon-text-container
    div.icon-text-container-row
    div.icon-text-item {
        margin-top: 0.938rem;
    }

   div.icon-text-container
   div.icon-text-container-row:first-child{
       margin-top: 2.063rem;
   }

   div.icon-text-container
   div.icon-text-container-row{
       margin-top: unset;
   }

   div.icon-text-container
   div.icon-text-container-row
   div.icon-text-item
   p.icon-text-item-text {
       max-width: unset;
       font-size: 1.063rem;
       margin-top: 0px;
   }

   div.icon-text-container
    div.icon-text-container-row
    div.icon-text-item
    img.icon-text-image,
    div.icon-text-container
    div.icon-text-container-row
    a.icon-text-item
    img.icon-text-image--little {
        height: 2.813rem
    }

    div.icon-text-container
    div.icon-text-container-row
    div.icon-text-item {
        margin-top: 30px;
    }

    div.icon-text-container
    div.icon-text-container-row--column
    div.icon-text-item
    p.icon-text-item-text {
        font-size: 1rem;
    }
 
}