@import "./bootstrap/css/bootstrap.min.css";
@import "./components/nav-item/style.css";
@import "./header/style.css";
@import "./footer/style.css";
@import "../fonts/fonts.css";

:root {
  --llyc-background: #E5E5E5;
  --llyc-primary: #E03C31;
  --llyc-secondary: #FDF8EC;
}

* {
   box-sizing: border-box;
}

html, body {
   width: 100%;
   height: 100%;
}

.font-regular {
   font-family: 'Trade Gothic Next LT Pro', 'Open Sans';
   font-weight: 400;
}

.font-bold {
   font-family: 'Trade Gothic Next LT Pro', 'Open Sans';
   font-weight: 700;
}

.font-extra-bold {
   font-family: "Trade Gothic Next LT Pro BdCn" !important;
   font-weight: 800;
}

/* icon-text-component */
div.icon-text-container {
    margin-top: 50px;
}

div.icon-text-container
h3.icon-text-title {
    font-weight: 400;
    font-size: 28px;
    line-height: 30px;
    color: #000000;
}

div.icon-text-container
div.icon-text-container-row {
    display: flex;
    margin-top: 33px
}

div.icon-text-container
div.icon-text-container-row-mt-bigger {
    margin-top: 84px;
}


div.icon-text-container
div.icon-text-container-row
div.icon-text-item {
    display: flex;
    flex-flow: column;
    align-items: center;
}


div.icon-text-container
div.icon-text-container-row
a.icon-text-item {
    display: flex;
    flex-flow: column;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

div.icon-text-container
div.icon-text-container-row
div.icon-text-item
p.icon-text-item-text-mt-bigger {
    margin-top: 26px !important;
}

div.icon-text-container
div.icon-text-container-row
a.icon-text-item
p.icon-text-item-text-mt-bigger {
    margin-top: 26px !important;
}

div.icon-text-container
div.icon-text-container-row
div.icon-text-item
img.icon-text-image {
    height: 45px;
}

div.icon-text-container
div.icon-text-container-row
a.icon-text-item
img.icon-text-image {
    height: 45px;
}

div.icon-text-container
div.icon-text-container-row
div.icon-text-item
p.icon-text-item-text--little {
    max-width: 135px !important
}

div.icon-text-container
div.icon-text-container-row
a.icon-text-item
p.icon-text-item-text--little {
    max-width: 135px !important
}

div.icon-text-container
div.icon-text-container-row
div.icon-text-item
p.icon-text-item-text--smaller {
    max-width: 126px !important
}

div.icon-text-container
div.icon-text-container-row
a.icon-text-item
p.icon-text-item-text--smaller {
    max-width: 126px !important
}

div.icon-text-container
div.icon-text-container-row
div.icon-text-item
p.icon-text-item-text--bigger {
    max-width: 259px;
    width: 259px;
}

div.icon-text-container
div.icon-text-container-row
a.icon-text-item
p.icon-text-item-text--bigger {
    max-width: 259px;
    width: 259px;
}

div.icon-text-container
div.icon-text-container-row
div.icon-text-item-row {
    display: flex;
    align-items: center;
}

div.icon-text-container
div.icon-text-item-row--mt-bigger {
    margin-top: 71px !important;
}

div.icon-text-container
div.icon-text-container-row
div.icon-text-item:not(:first-child) {
    margin-left: 68px;
}

div.icon-text-container
div.icon-text-container-row
a.icon-text-item:not(:first-child) {
    margin-left: 68px;
}

div.icon-text-container
div.icon-text-container-row
div.icon-text-item
p.icon-text-item-text {
    max-width: 181px;
    margin-top: 12px;
    font-size: 20px;
    line-height: 23px;
    color: #000;
}

div.icon-text-container
div.icon-text-container-row
a.icon-text-item
p.icon-text-item-text {
    max-width: 181px;
    margin-top: 12px;
    font-size: 20px;
    line-height: 23px;
    color: #000;
}

div.icon-text-container
div.icon-text-container-row--column {
    display: flex;
    flex-flow: column;
}

div.icon-text-container
div.icon-text-container-row--column
div.icon-text-item--to-row {
    display: flex;
    align-items: center;
    flex-flow: row;
}

div.icon-text-container
div.icon-text-container-row--column
div.icon-text-item--to-row:not(:first-child) {
    margin-top: 46px;
}

div.icon-text-container
div.icon-text-container-row--column
div.icon-text-item--to-row
p.icon-text-item-text {
    max-width: 390px;
    margin-top: 12px;
    font-size: 20px;
    line-height: 23px;
    color: #000;
}

div.icon-text-container
div.icon-text-container-row--column
div.icon-text-item--to-row
p.icon-text-item-text--little {
    max-width: 330px;
    margin-top: 12px;
    font-size: 20px;
    line-height: 23px;
    color: #000;
}

div.icon-text-container
div.icon-text-container-row--column
div.icon-text-item--to-row
p.icon-text-item-text--toRight {
    margin-left: 60px
}

/**/


/* action card */
div.action-card {
    margin-top: 66px;
    border: 1px dashed #000;
    padding: 45px 40px 30px 46px;
    max-width: 633px;
}

div.action-card
ul.action-card-list  {
    list-style: none;
    margin-top: 26px;
    padding: 0;
}

div.action-card
ul.action-card-list 
li.action-card-list-item  {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000;
}

div.action-card
p.action-card-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin-top: 37px;
}

div.action-card
p.action-card-text--no-margin-top {
    margin-top: 0px;
}
/**/

 
 
/* xl - desktop */
@media (min-width: 1200px) {
    html {font-size: 16px;}
}

/* md - tablet */
@media (min-width: 577px) and (max-width: 1199px) {
   html {font-size: 15px;}
}

/* col - mobile */
@media (max-width: 576px) {
   html {font-size: 14px;}
}