main#diagnostico-main {
    padding: 50px 179px 113px 176px;
    display: flex;
    flex-flow: column;
}

main#diagnostico-main
div#news-container
div#news-impacts {
    margin-top: 50px;

}

main#diagnostico-main
div#news-container
div#news-impacts
div.news-impacts-item {
    margin-top: 26px;
}

main#diagnostico-main
div#news-container
div#news-impacts
div.news-impacts-item
span.news-impacts-item-text {
    margin-left: 46px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

main#diagnostico-main
div#news-container
h2.text-subtitle-little {
    width: 600px;
}

main#diagnostico-main
div#news-container
div#news-image-text {
    margin-top: 50px;
    display: flex;
    align-items: center;
}

main#diagnostico-main
div#news-container
div#news-image-text 
div.news-image-text-items {
    margin-left: 75px;
    display: flex;
    flex-flow: column;
}

main#diagnostico-main
div#news-container
div#news-image-text 
div.news-image-text-items
span.news-image-text-item {
    margin-top: 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

main#diagnostico-main
div#news-container
ul.news-info-list {
    margin-top: 50px;
}

/* md - tablet */
@media (min-width: 577px) and (max-width: 1199px) {

    main#diagnostico-main {
        padding: 15px 10px 125px 20px;
    }

    p.news-info-with-max-width {
        width: unset;
    }
 }

/* col - mobile */
@media(max-width: 576px) {
    main#diagnostico-main {
        padding: 15px 10px 125px 20px;
    }

    p.news-info-with-max-width {
        width: unset;
    }
 }
 