main#servicos-main {
    padding: 3.125rem 11.188rem 7.063rem 11rem;
    display: flex;
    flex-flow: column;
}

.text-icon {
    height: 2.813rem !important;
}


@media(min-width: 1200px) {
    .text-align {
        text-align: left !important;
    }    
}

/* md - tablet */
@media (min-width: 577px) and (max-width: 1199px) {

    main#servicos-main {
        padding: 0.938rem 0.625rem 7.813rem 1.25rem;
    }

    p.news-info-with-max-width {
        width: unset;
    }
 }

/* col - mobile */
@media(max-width: 576px) {
    main#servicos-main {
        padding: 0.938rem 0.625rem 7.813rem 0rem;
    }

    p.news-info-with-max-width {
        width: unset;
    }
}
 