main#informacao-main {
    padding: 3.125rem 11.188rem 7.063rem 11rem;
    display: flex;
    flex-flow: column;
}

main#informacao-main
div#news-container
div#localizacao {
    display: flex;
    align-items: baseline;
}

main#informacao-main
div#news-container
div#localizacao-container {
    margin-top: 4.375rem;
    position: relative;
}

main#informacao-main
div#news-container
div#localizacao-container
input.search-input {
    font-style: normal;
    font-size: 1rem;
    line-height: 1.375rem;
    background-color: white;
    border: 1px solid #000;
    padding: 0.938rem;
    border-radius: 0.625rem;
    font-weight: 700;
    width: 31.25rem;
    height: 3.75rem;
    padding-right: 4.063rem;
}

main#informacao-main
div#news-container
div#localizacao
div#localizacao-container
img.search-search {
    position: absolute;
    top: 1.125rem;
    right: 1.25rem;
    cursor: pointer;
}

main#informacao-main
div#news-container
div#termos-container {
    margin-top: 3.125rem;
}

h2.termos-title {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.875rem;    
    text-align: center;
    color: #000000;
}

h2.termos-title--mt {
    margin-top: 3.125rem;
}

h2#resultados-title {
    display: none;
}

main#informacao-main
div#news-container
div#termos-container
div.termos-items {
    margin-top: 1.875rem;
}

main#informacao-main
div#news-container
button.news-info-button {
    margin-top: 3.125rem;
    font-size: 1rem;
    line-height: 1.375rem;
    color: #E03C31;
    background-color: white;
    border: 1px solid #E03C31;
    padding: 0.938rem;
    border-radius: 0.625rem;
    font-weight: 700;
}

main#informacao-main
.cards {
    display: none;
}

main#informacao-main
.cards
.card-info--larger {
    max-width: 32.875rem;
}

main#informacao-main
.cards
.card-info--larger:not(:first-child) {
    margin-left: 1.718rem;
}

main#informacao-main
.cards
.card-info--test {
    border: 1px dashed #000;
    max-height: 15.438rem;
    border-radius: 1.063rem;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5.313rem 1.563rem 5.813rem 2.5rem;
}

main#informacao-main
.cards
.card-info--test 
.card-info-test-link-container {
    font-weight: 400;
    font-size: 1.063rem;
    line-height: 1.438rem;
    text-decoration: none;
    color: #000000;
}

main#informacao-main
.cards
.card-info--test
.card-info-test-link-container
.card-info-test-text-begin {
    font-weight: 700;
    font-size: 1.063rem;
    color: #000;
    margin-top: 0.625rem;
}

main#informacao-main
.cards
.card-info
.card-info-link-container {
    display: flex;
    flex-flow: column;
    align-items: baseline;
    text-decoration: none;
}

main#informacao-main
.cards
.card-info
.card-info-link-container
.card-info-image {
    height: 280px;
    object-fit: cover; 
}

main#informacao-main
.cards
.card-info
.card-info-link-container
.card-info-text {
    margin-top: 1.313rem;
    font-size: 1.125rem;
    line-height: 1.438rem;
    color: #000000;
}

main#informacao-main
.cards
.card-info
.card-info-relateds {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0.625rem;
}

main#informacao-main
.cards
.card-info
.card-info-relateds
.card-info-related {
    border: 1px solid #E03C31;
    border-radius: 0.875rem;
    font-size: 0.938rem;
    color: #E03C31;
    font-weight: 700;
    padding: 0 0.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

main#informacao-main
.cards
.card-info
.card-info-relateds
.card-info-related:not(:first-child) {
    margin-left: 0.375rem;
}


/* md - tablet */
@media(min-width:577px) and (max-width: 1199px) { 
    main#informacao-main {
      padding: 0.938rem 0.625rem 7.813rem 1.25rem;
    }
 
    main#informacao-main
    .container
    .cards
    .card-info {
        margin-top: 24px;
    }

    main#informacao-main
    div#news-container
    div#localizacao-container {
        width: 100%;
    }

    main#informacao-main
    div#news-container
    div#localizacao-container
    input.search-input {
        width: 100%;
    }
 }
 
 /* col - mobile */
 @media (max-width: 576px) {
     main#informacao-main {
         padding: 0.938rem 0.625rem 7.813rem 1.25rem;
     }
 
     main#informacao-main
     .container
     .cards
     .card-info {
         margin-top: 1.5rem;
     }

    main#informacao-main
    div#news-container
    div#localizacao-container {
        width: 100%;
    }

    main#informacao-main
    div#news-container
    div#localizacao-container
    input.search-input {
        width: 100%;
    }

 }