main#informacao-main {
    padding: 50px 179px 113px 176px;
    display: flex;
    flex-flow: column;
}

main#informacao-main
div#news-container
div#localizacao {
    display: flex;
    align-items: baseline;
}

main#informacao-main
div#news-container
div#localizacao-container {
    margin-top: 70px;
    position: relative;
}

main#informacao-main
div#news-container
div#localizacao-container
input.search-input {
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    background-color: white;
    border: 1px solid #000;
    padding: 15px;
    border-radius: 10px;
    font-weight: 700;
    width: 500px;
    height: 60px;
    padding-right: 65px;
}

main#informacao-main
div#news-container
div#localizacao
div#localizacao-container
img.search-search {
    position: absolute;
    top: 18px;
    right: 20px;
    cursor: pointer;
}

main#informacao-main
div#news-container
div#termos-container {
    margin-top: 50px;
}

h2.termos-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;    
    text-align: center;
    color: #000000;
}

h2.termos-title--mt {
    margin-top: 50px;
}

h2#resultados-title {
    display: none;
}

main#informacao-main
div#news-container
div#termos-container
div.termos-items {
    margin-top: 30px;
}

main#informacao-main
div#news-container
h2.title-subtitle {
    margin-top: 50px;
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 28px;
    line-height: 30px;
    color: #000000;
}

main#informacao-main
div#news-container
h2.text-subtitle-little {
    width: 600px;
}

main#informacao-main
div#news-container
button.news-info-button {
    margin-top: 50px;
    font-size: 16px;
    line-height: 22px;
    color: #E03C31;
    background-color: white;
    border: 1px solid #E03C31;
    padding: 15px;
    border-radius: 10px;
    font-weight: 700;
}

main#informacao-main
.cards {
    display: none;
}

main#informacao-main
.cards
.card-info--larger {
    max-width: 526px;
}

main#informacao-main
.cards
.card-info--larger:not(:first-child) {
    margin-left: 27.48px;
}

main#informacao-main
.cards
.card-info--test {
    border: 1px dashed #000;
    max-height: 247px;
    border-radius: 17.42px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 85px 25px 93px 40px;
}

main#informacao-main
.cards
.card-info--test 
.card-info-test-link-container {
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    text-decoration: none;
    color: #000000;
}

main#informacao-main
.cards
.card-info--test
.card-info-test-link-container
.card-info-test-text-begin {
    font-weight: 700;
    font-size: 17px;
    color: #000;
    margin-top: 10px;
}

main#informacao-main
.cards
.card-info
.card-info-link-container {
    display: flex;
    flex-flow: column;
    align-items: baseline;
    text-decoration: none;
}

main#informacao-main
.cards
.card-info
.card-info-link-container
.card-info-image {
    height: 280px;
    object-fit: cover; 
}

main#informacao-main
.cards
.card-info
.card-info-link-container
.card-info-text {
    margin-top: 20.9px;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
}

main#informacao-main
.cards
.card-info
.card-info-relateds {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

main#informacao-main
.cards
.card-info
.card-info-relateds
.card-info-related {
    border: 1px solid #E03C31;
    border-radius: 14px;
    font-size: 15px;
    color: #E03C31;
    font-weight: 700;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main#informacao-main
.cards
.card-info
.card-info-relateds
.card-info-related:not(:first-child) {
    margin-left: 6px;
}


/* md - tablet */
@media(min-width:577px) and (max-width: 1199px) {
    html {font-size: 15px;}
 
    main#informacao-main {
      padding: 15px 10px 125px 20px;
    }
 
    main#informacao-main
    .container
    .cards
    .card-info {
        margin-top: 24px;
    }

    main#informacao-main
    div#news-container
    div#localizacao-container {
        width: 100%;
    }

    main#informacao-main
    div#news-container
    div#localizacao-container
    input.search-input {
        width: 100%;
    }
 }
 
 /* col - mobile */
 @media (max-width: 576px) {
     main#informacao-main {
         padding: 15px 10px 125px 20px;
     }
 
     main#informacao-main
     .container
     .cards
     .card-info {
         margin-top: 24px;
     }

    main#informacao-main
    div#news-container
    div#localizacao-container {
        width: 100%;
    }

    main#informacao-main
    div#news-container
    div#localizacao-container
    input.search-input {
        width: 100%;
    }

 }